ion-header {
  background: var(--color-light);
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  animation: slide-in-down 0.25s ease-out 0.25s forwards;

  ion-title {
    font-size: 1.075rem;
    color: var(--color-dark);
    transform: translateY(1.5rem);
    animation: title-show 0.5s ease-out 1.25s forwards;

    &:not(.onchat-brand) {
      font-size: 1rem;
    }
  }

  ion-buttons ion-back-button,
  ion-buttons ion-button {
    --color: var(--color-medium);
  }

  .onchat-brand {
    height: 3rem;
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 0 0.75rem;
  }
}

main {
  padding: 2.75rem 0 0.75rem;
}

ion-back-button::part(text) {
  background: var(--color-gray);
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 1rem;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

@keyframes title-show {
  from {
    transform: translate3d(0, 1.5rem, 0);
  }
  to {
    transform: translate3d(0, -1.5rem, 0);
  }
}
