ion-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: var(--custom-color-light);
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000000, 0.125);
  transform: translateY(-100%);
  animation: slide-down 0.25s ease-out 0.25s forwards;

  ion-toolbar {
    overflow: hidden;
  }

  ion-title {
    font-size: 1.075rem;
    color: var(--custom-color-dark);
    transform: translateY(1.5rem);
    animation: show 0.5s ease-out 1.25s forwards;
  }

  ion-buttons > * {
    --color: var(--custom-color-medium);
  }

  .brand {
    height: 3rem;
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 0 0.75rem;
  }

  .bubble-tips {
    position: fixed;
    top: 3.65rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.65rem;
    padding: 0.1rem 0.5rem;
    color: #424242;
    background: var(--custom-color-primary);
    border-radius: 1rem;
    box-shadow: 0 0 0.25rem 0.05rem rgba(#000000, 0.125);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &.show {
      opacity: 0.75;
      visibility: visible;
      animation: bubble-tips 0.5s ease-in-out 4s forwards;
    }

    &::before {
      content: "";
      position: absolute;
      top: -0.25rem;
      left: calc(50% - 0.25rem);
      width: 0.5rem;
      height: 0.5rem;
      background: var(--custom-color-primary);
      border-radius: 0.125rem 0 0 0;
      transform: rotate(45deg);
    }
  }
}

@keyframes bubble-tips {
  from {
    opacity: 0.75;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  background: var(--custom-color-light);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000000, 0.125);
  transform: translateY(100%);
  animation: slide-up 0.25s ease-out 0.25s forwards;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }

  textarea {
    resize: none;
    flex: auto;
    font-size: 1rem;
    border: 0.05rem solid var(--custom-color-secondary);
    border-radius: 1.5rem;
    line-height: 1.125rem;
    padding: 0.625rem 0.75rem;
    background: var(--custom-color-white);
    max-height: 10rem;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      border-color: var(--custom-color-white);
    }

    @media (prefers-color-scheme: dark) {
      border: none;
    }
  }

  .send-btn {
    height: 2.45rem;
    width: 2.45rem;
    border-radius: 2.45rem;
    font-size: 1.45rem;
    line-height: 1rem;
    flex-shrink: 0;
  }
}

main {
  padding: 2.75rem 0 4rem;

  > .tips {
    position: fixed;
    left: 50%;
    bottom: 4.25rem;
    transform: translateX(-50%);
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 0.3rem 0.75rem;
    color: #424242;
    background: rgba(var(--custom-color-primary-rgb), 0.75);
    backdrop-filter: saturate(200%) blur(5px);
    border-radius: 1rem;
    box-shadow: 0 0 0.25rem 0.05rem rgba(#000000, 0.125);
    transition: box-shadow 0.2s ease-in-out;

    &.active {
      box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-primary-rgb), 0.5);
    }

    > ion-icon {
      animation: jitter 0.75s linear infinite;
    }
  }
}

@keyframes jitter {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.195rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes show {
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
