ion-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: var(--custom-color-light);
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000000, 0.125);
  transform: translateY(-100%);
  animation: slide-down 0.25s ease-out 0.25s forwards;

  ion-toolbar {
    overflow: hidden;
  }

  ion-title {
    font-size: 1.075rem;
    color: var(--custom-color-dark);
    transform: translateY(1.5rem);
    animation: title-show 0.5s ease-out 1.25s forwards;

    &:not(.brand) {
      font-size: 1rem;
    }
  }

  ion-buttons > * {
    --color: var(--custom-color-medium);
  }

  .brand {
    height: 3rem;
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 0 0.75rem;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.45rem;
  display: flex;
  align-items: center;
  background: var(--custom-color-light);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000000, 0.125);
  transform: translateY(100%);
  animation: slide-up 0.25s ease-out 0.25s forwards;

  > *:not(:last-child) {
    margin-right: 0.45rem;
  }

  > .tips-btn {
    position: fixed;
    left: 50%;
    top: -2.5rem;
    transform: translateX(-50%);
    font-size: 0.8rem;
    line-height: 1.25em;
    padding: 0.3rem 0.75rem;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    > ion-icon {
      animation: jitter 0.75s linear infinite;
    }
  }

  textarea {
    resize: none;
    flex: auto;
    font-size: 1rem;
    border: 0.075rem solid var(--custom-color-secondary);
    border-radius: 1.5rem;
    padding: 0.5rem 0.75rem;
    background: var(--custom-color-white);
    max-height: 10em;
    min-height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .send-btn {
    height: 2.45rem;
    width: 2.45rem;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 1rem;
    flex-shrink: 0;
  }
}

main {
  padding: 2.75rem 0 4rem;
}

ion-back-button::part(text) {
  background: var(--custom-color-gray);
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 1rem;
}

@keyframes jitter {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.195rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes title-show {
  from {
    transform: translate3d(0, 1.5rem, 0);
  }
  to {
    transform: translate3d(0, -1.5rem, 0);
  }
}
