<ion-content #ionContent appHideScrollbar [fullscreen]="true" [scrollEvents]="hasUnread"
  (ionScrollEnd)="onIonScrollEnd()">
  <ion-header class="d-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          [text]="(globalDataService.unreadMsgCount == 0 ? '' : globalDataService.unreadMsgCount) | numLimit"
          defaultHref="home">
        </ion-back-button>
      </ion-buttons>

      <ion-title>
        <div class="brand"></div>
        <div class="font-weight-bold" (tap)="setFriendAlias()">{{ chatroomName }}</div>
      </ion-title>

      <ion-buttons slot="end">
        <ion-button (tap)="more()">
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <main [ngStyle]="{ 'padding-bottom': 'calc(0.75rem + ' + bottomBar.clientHeight + 'px)' } " (click)="hideDrawer()">
    <ion-infinite-scroll position="top" threshold="-10px" [disabled]="end" (ionInfinite)="loadMoreRecords($event)">
      <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <app-msg-list [data]="msgList" [end]="end" [chatroomType]="chatroomType"></app-msg-list>
  </main>

  <div #bottomBar class="bottom-bar" slot="fixed">
    <button appActiveClass [appActiveClassDuration]="250" class="tips-btn btn-primary" [ngClass]="{'show': hasUnread}"
      (tap)="scrollToBottom()">
      收到新消息
      <ion-icon name="arrow-down-outline"></ion-icon>
    </button>

    <div class="bottom-bar-header">
      <!-- 这里的ID将附加上房间号来区分，防止单页应用，同时存在两个相同页面导致ID冲突 -->
      <textarea #textarea [id]="'message-' + chatroomId" name="message" rows="1"
        [ngClass]="{'invalid': msg.length > textMsgMaxLength}" (keyup)="onKeyup($event)" (focus)="hideDrawer()"
        placeholder="来说点什么吧！" [(ngModel)]="msg"></textarea>

      <!-- 小技巧：这里使用label来保持textarea的焦点状态 -->
      <button [hidden]="!showSendBtn()" appActiveClass [appActiveClassDuration]="250"
        class="ion-activatable ripple-parent btn-primary send-btn" (click)="send()" [disabled]="disableSendBtn()">
        <label [for]="'message-' + chatroomId" class="d-flex align-items-center justify-content-center">
          <ion-icon name="arrow-up"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </label>
      </button>

      <button [hidden]="showSendBtn()" appActiveClass [appActiveClassDuration]="250"
        class="ion-activatable ripple-parent btn-secondary more-btn" (click)="toggleDrawer()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>

    <div #drawer class="drawer"
      [ngStyle]="{'height': showDrawer ? (keyboardHeight ? keyboardHeight + 'px' : '17.5rem') : 0}">
      <app-drawer [page]="this"></app-drawer>
    </div>
  </div>
</ion-content>