<ion-content #ionContent mode="md">
  <ion-header mode="ios" class="d-flex align-items-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title class="font-weight-bold" (tap)="tapToLoadRecords()">
        <div class="brand"></div>
        <div>{{ roomName }}</div>
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <span class="bubble-tips">技巧：点击标题可以加载更多哦~</span>
  </ion-header>

  <main>
    <ion-refresher slot="fixed" [pullFactor]="0.5" [disabled]="end" (ionRefresh)="doRefresh($event)" style="top: 3rem;">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <app-msg-list [userId]="userId" [data]="msgList" [end]="end"></app-msg-list>
  </main>

  <div class="bottom-bar">
    <input type="text" class="ipt-primary" id="message" name="message" placeholder="来说点什么吧？">
    <button appActiveClass [duration]="200" class="ion-activatable ripple-parent btn-primary send-btn" (tap)="scrollToBottom()">
      <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
</ion-content>