<ion-content appHideScrollbar [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>聊天室通知</ion-title>
    </ion-toolbar>

    <ion-toolbar>
      <ion-segment [(ngModel)]="route" (ionChange)="segmentChange($event)">
        <ion-segment-button value="notice-list" routerLink="/chatroom/notice/notice-list">
          <ion-label>我的通知</ion-label>
        </ion-segment-button>
        <ion-segment-button value="request-list" routerLink="/chatroom/notice/request-list">
          <ion-label>我的申请</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <div class="router-outlet" [@horizontalSlideInRouteAnimation]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</ion-content>