<ion-content appHideScrollbar [fullscreen]="true">
  <ion-header class="display-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>聊天室通知</ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list class="chat-request-list">
    <ion-item-sliding mode="md" *ngFor="let item of globalDataService.receiveChatRequests; let i = index;">
      <ion-item lines="none" [detail]="false" [routerLink]="['/chatroom/request/handle', item.id]">
        <ion-img slot="start" *ngIf="i > 9" [src]="item.applicantAvatarThumbnail"></ion-img>
        <img slot="start" *ngIf="i <= 9" [src]="item.applicantAvatarThumbnail">

        <ion-label class="item-content">
          <h2 class="font-weight-bold">{{ item.applicantNickname }}</h2>
          <p>{{ '申请加入 ' + item.chatroomName }}</p>
        </ion-label>

        <button appActiveClass [appActiveClassDuration]="250" class="ion-activatable ripple-parent btn-primary">
          同意
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option class="bg-danger">拒绝</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>