<ion-content [fullscreen]="true" appScrollbar>
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="dismiss()">
          <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;--ionicon-stroke-width: 2.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>修改密码</ion-title>

      <ion-buttons slot="end" *ngIf="!loading && form.valid" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <div class="form-group">
      <label class="dp-block">原密码</label>
      <div class="form-control">
        <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" formControlName="oldPassword"
               autocomplete="new-password" (blur)="trimAll('oldPassword')" placeholder="请输入你的原密码" [maxlength]="passwordMaxLength"
               required>
        <ion-icon [name]="pwdInputType == 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()"></ion-icon>

        <div class="form-control-warning">
          <ion-icon name="warning"></ion-icon>
          {{ passwordFeedback(form.controls.oldPassword.errors) }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="dp-block">新密码</label>
      <div class="form-control">
        <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" formControlName="newPassword"
               autocomplete="new-password" (blur)="trimAll('newPassword')" placeholder="请输入你的新密码" [maxlength]="passwordMaxLength"
               required>
        <ion-icon [name]="pwdInputType === 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()"></ion-icon>

        <div class="form-control-warning">
          <ion-icon name="warning"></ion-icon>
          {{ passwordFeedback(form.controls.newPassword.errors) }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="dp-block">确认新密码</label>
      <div class="form-control">
        <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" formControlName="confirmNewPassword"
               autocomplete="new-password" (blur)="trimAll('confirmNewPassword')" placeholder="请输入确认新密码"
               [maxlength]="passwordMaxLength" required>
        <ion-icon [name]="pwdInputType === 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()"></ion-icon>

        <div class="form-control-warning">
          <ion-icon name="warning"></ion-icon>
          {{ passwordFeedback(form.controls.confirmNewPassword.errors) }}
        </div>

        <div class="feedback-form-invalid" [hidden]="!form.errors?.equal">
          <ion-icon name="warning"></ion-icon>
          确认密码与密码不一致！
        </div>
      </div>
    </div>

  </form>
</ion-content>