ion-header {
  ion-buttons ion-back-button,
  ion-buttons ion-button,
  ion-title {
    --color: var(--oc-color-black);
  }

  ion-spinner {
    --color: var(--oc-color-black);
    margin-right: 0.25rem;
  }
}

form {
  padding: 1rem 1rem;
}

.form-group {
  margin-bottom: 1.25rem;

  > .form-control > .btn-primary {
    height: 2rem;
    top: 0.375rem;
    right: 0.375rem;
    font-size: 0.85rem;
  }
}

.form-control-warning,
.feedback-form-invalid {
  display: flex;
  align-items: flex-end;
  font-size: 0.85rem;
  height: 1.75rem;
  padding-left: 0.25rem;

  ion-icon {
    font-size: 1.125rem;
    margin-right: 0.25rem;
  }
}

input + ion-icon {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  transform: translateY(-50%);
  color: #e0e0e0;
  font-size: 1.5rem;

  @media (prefers-color-scheme: dark) {
    color: #757575;
  }
}

.ipt-primary {
  font-size: 1rem;
  height: 2.75rem;
  border-radius: 1.625rem;
}
