<ion-content>
  <ion-header class="d-flex align-items-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="dismiss()">
          <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (tap)="uploadImage()">
          <ion-icon slot="icon-only" name="camera-outline" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <image-cropper #imageCropper [format]="format" [roundCropper]="true" [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true" [aspectRatio]="1" [imageQuality]="90" [autoCrop]="false" backgroundColor="#f0f0f0"
    [cropperMinWidth]="256"></image-cropper>

  <div class="buttom-bar">
    <button (tap)="submit()" appActiveClass [appActiveClassDuration]="200"
      class="ion-activatable ripple-parent btn-primary submit-btn">
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
</ion-content>