<div class="mood-radio-group">
  <input type="radio" name="mood" id="mood-joy" [value]="mood.Joy" [(ngModel)]="value">
  <label class="cursor-pointer line-height-0" for="mood-joy">
    <ion-icon src="/assets/svg/mood/joy.svg"></ion-icon>
  </label>

  <input type="radio" name="mood" id="mood-angry" [value]="mood.Angry" [(ngModel)]="value">
  <label class="cursor-pointer line-height-0" for="mood-angry">
    <ion-icon src="/assets/svg/mood/angry.svg"></ion-icon>
  </label>

  <input type="radio" name="mood" id="mood-sorrow" [value]="mood.Sorrow" [(ngModel)]="value">
  <label class="cursor-pointer line-height-0" for="mood-sorrow">
    <ion-icon src="/assets/svg/mood/sorrow.svg"></ion-icon>
  </label>

  <input type="radio" name="mood" id="mood-fun" [value]="mood.Fun" [(ngModel)]="value">
  <label class="cursor-pointer line-height-0" for="mood-fun">
    <ion-icon src="/assets/svg/mood/fun.svg"></ion-icon>
  </label>
</div>