<div class="mood-radio-group dp-flex align-center justify-between">
  <input class="dp-none" type="radio" name="mood" id="mood-joy" [value]="mood.Joy" [(ngModel)]="value">
  <label class="dp-flex justify-center align-center cursor-pointer line-hg-0" for="mood-joy">
    <ion-icon src="/assets/images/svg/mood/joy.svg"></ion-icon>
  </label>

  <input class="dp-none" type="radio" name="mood" id="mood-angry" [value]="mood.Angry" [(ngModel)]="value">
  <label class="dp-flex justify-center align-center cursor-pointer line-hg-0" for="mood-angry">
    <ion-icon src="/assets/images/svg/mood/angry.svg"></ion-icon>
  </label>

  <input class="dp-none" type="radio" name="mood" id="mood-sorrow" [value]="mood.Sorrow" [(ngModel)]="value">
  <label class="dp-flex justify-center align-center cursor-pointer line-hg-0" for="mood-sorrow">
    <ion-icon src="/assets/images/svg/mood/sorrow.svg"></ion-icon>
  </label>

  <input class="dp-none" type="radio" name="mood" id="mood-fun" [value]="mood.Fun" [(ngModel)]="value">
  <label class="dp-flex justify-center align-center cursor-pointer line-hg-0" for="mood-fun">
    <ion-icon src="/assets/images/svg/mood/fun.svg"></ion-icon>
  </label>
</div>