<ion-content appHideScrollbar [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (tap)="presentActionSheet()">
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <img [src]="chatroom.avatar" (press)="onPress()">
    </ion-slide>
  </ion-slides>
</ion-content>