<ion-content [fullscreen]="true" appScrollbar>
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="dismiss()">
          <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;--ionicon-stroke-width: 2.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{ title }}（{{ getCheckedChatSessions().length }}/{{ limit }}）</ion-title>

      <ion-buttons slot="end" *ngIf="!loading && canSubmit()" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated placeholder="搜索" (ngModelChange)="search($event)" [(ngModel)]="keyword"></ion-searchbar>

  <ion-list class="chat-session-list">
    <ion-virtual-scroll [items]="list" [approxItemHeight]="itemHeight" [itemHeight]="getItemHeight" [trackBy]="trackByFn">
      <ion-item *virtualItem="let item; let i = index;" mode="md" lines="none" [detail]="false">
        <ion-img slot="start" [src]="item.avatarThumbnail"></ion-img>

        <ion-label>{{ item.title }}</ion-label>

        <ion-checkbox slot="end" mode="ios" [(ngModel)]="item.checked" (ionChange)="onChange(item)"
                      [disabled]="!item.checked && disabled()">
        </ion-checkbox>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>