<ion-header slot="fixed">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;--ionicon-stroke-width: 2.75rem;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ title }}（{{ checkedChatSessions.length }}/{{ limit }}）</ion-title>

    <ion-buttons slot="end" *ngIf="!loading && canSubmit()" (click)="submit()">
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="搜索" (ngModelChange)="search($event)" [(ngModel)]="keyword"></ion-searchbar>

  <app-empty *ngIf="list.length === 0"></app-empty>

  <cdk-virtual-scroll-viewport [itemSize]="itemHeight" [minBufferPx]="minBufferPx" [maxBufferPx]="maxBufferPx">
    <ion-list class="chat-session-list">
      <ion-item *cdkVirtualFor="let item of list; trackById" mode="md" lines="none" [detail]="false">
        <ion-img class="clip" slot="start" [src]="item.avatarThumbnail"></ion-img>

        <ion-label>{{ item.title }}</ion-label>

        <ion-checkbox slot="end" mode="ios" [(ngModel)]="item.checked" (ionChange)="onChange(item)"
                      [disabled]="!item.checked && disabled">
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>
