ion-header {
    height: 3rem;
    background: var(--oc-color-light);

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: var(--oc-color-black);
    }

    ion-title {
        font-size: 1rem;
    }
}
