<ion-content [fullscreen]="true" appHideScrollbar>
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="dismiss()">
          <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>{{ title }}（{{ getCheckedChatSessions().length }}/{{ limit }}）</ion-title>

      <ion-buttons slot="end" *ngIf="!loading && canSubmit()" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated placeholder="搜索" (ionChange)="search()" [(ngModel)]="keyword"></ion-searchbar>

  <ion-list class="chat-session-list">
    <ion-item mode="md" lines="none" [detail]="false" *ngFor="let item of list(); let i = index;">

      <ion-img slot="start" *ngIf="i > 9" [src]="item.avatarThumbnail"></ion-img>
      <img slot="start" *ngIf="i <= 9" [src]="item.avatarThumbnail">

      <ion-label>{{ item.title }}</ion-label>

      <ion-checkbox slot="end" mode="ios" [(ngModel)]="item.checked" (ionChange)="onChange(item)"
        [disabled]="!item.checked && disabled()">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>