.notification {
    display: flex;
    width: calc(100vw - 20px);
    height: 4.5rem;
    margin-top: 10px;
    padding: 0.75rem 0.85rem;
    background: rgba(var(--custom-color-light-rgb), 0.9);
    backdrop-filter: saturate(125%) blur(2.5px);
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(#000000, 0.125);
    animation: slide-in-down 0.2s ease-out;
    transition: transform 0.1s ease-out;

    &.active {
        transform: scale(0.95);
    }

    &.hide {
        transition: all 0.2s ease-out;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
    }
}

.notification-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;

    @media (prefers-color-scheme: dark) {
        filter: brightness(0.85);
    }
}

.notification-body {
    flex: auto;
    height: 100%;
    margin-left: 0.55rem;
    overflow: hidden;
}

.notification-title {
    margin: -0.25rem 0 0.05rem;
    color: var(--custom-color-dark);
    line-height: 1.25rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.notification-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-line-clamp: 2;
    margin: 0;
    color: var(--custom-color-muted);
    font-size: 0.8rem;
    line-height: 1rem;
    overflow: hidden;
}
