<ion-content *ngIf="globalData.user">
  <div appRipple class="profile-card clip" [routerLink]="['/user/', globalData.user.id]">
    <img class="profile-card-bg-img" [src]="'https://blog.hypergo.net/api/bing/image.php'">

    <div class="profile-card-content">
      <div class="dp-flex">
        <img class="profile-card-avatar" [src]="globalData.user.avatarThumbnail" (click)="viewAvatar($event)">

        <div class="profile-card-info dp-flex flex-col justify-between">
          <h1 class="font-bold">{{ globalData.user.username }}</h1>
          <div>USER-ID：{{ globalData.user.id }}</div>
          <div>昵称：{{ globalData.user.nickname }}</div>
        </div>
      </div>
    </div>
  </div>

  <ion-item-group>
    <ion-item detail lines="none" button mode="md" routerLink="/user/settings/info">
      <ion-icon name="reader" slot="start"></ion-icon>
      <ion-label>个人信息</ion-label>
    </ion-item>
    <ion-item detail lines="none" button mode="md" routerLink="/user/settings/safety">
      <ion-icon name="shield-checkmark" slot="start"></ion-icon>
      <ion-label>安全设置</ion-label>
    </ion-item>
  </ion-item-group>

  <button appRipple appActiveClass (tap)="logout()" class="btn-secondary btn-block logout-btn">
    退出登录
  </button>
</ion-content>