<ion-content *ngIf="globalDataService.user" appHideScrollbar>
  <div class="profile-card ion-activatable ripple-container" routerLink="/user/settings">
    <img class="profile-card-bg-img" [src]="'https://blog.hypergo.net/api/bing/image.php'">

    <div class="profile-card-content">
      <div class="display-flex">
        <img class="profile-card-avatar" [src]="globalDataService.user.avatarThumbnail"
          (click)="navigateToAvatarPage($event)">

        <div class="profile-card-info">
          <h1 class="font-weight-bold">{{ globalDataService.user.username }}</h1>
          <div>USER-ID：{{ globalDataService.user.id }}</div>
          <div>昵称：{{ globalDataService.user.nickname }}</div>
        </div>
      </div>
    </div>

    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <button appActiveClass [appActiveClassDuration]="250" (tap)="logout()"
    class="ion-activatable ripple-container btn-secondary btn-block logout-btn">
    退出登录
    <ion-ripple-effect></ion-ripple-effect>
  </button>
</ion-content>