<ion-content>
  <ion-list class="chat-list">
    <ion-item-sliding mode="md">
      <ion-item lines="none" [detail]="false" [routerLink]="['/chat']">
        <ion-thumbnail slot="start">
          <img src="https://blog.hypergo.net/images/cartoon/4_angry_birds_blue.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Room Name</h2>
          <p>room description</p>
        </ion-label>
        <div class="info">
          <time>12:00</time>
          <ion-badge class="bg-danger" mode="ios">5</ion-badge>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">设为已读</ion-item-option>
        <ion-item-option class="bg-danger">移除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding mode="md">
      <ion-item lines="none" [detail]="false" [routerLink]="['/chat']">
        <ion-thumbnail slot="start">
          <img src="https://blog.hypergo.net/images/cartoon/2_angry_birds_red.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Room Name</h2>
          <p>room description</p>
        </ion-label>
        <div class="info">
          <time>12:00</time>
          <ion-badge class="bg-danger" mode="ios">5</ion-badge>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">设为已读</ion-item-option>
        <ion-item-option class="bg-danger">移除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding mode="md">
      <ion-item lines="none" [detail]="false" [routerLink]="['/chat']">
        <ion-thumbnail slot="start">
          <img src="https://blog.hypergo.net/images/cartoon/3_angry_birds_yellow.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>Room Name</h2>
          <p>room description</p>
        </ion-label>
        <div class="info">
          <time>12:00</time>
          <ion-badge class="bg-danger" mode="ios">5</ion-badge>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">设为已读</ion-item-option>
        <ion-item-option class="bg-danger">移除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding mode="md">
      <ion-item lines="none" [detail]="false" [routerLink]="['/chat']">
        <ion-thumbnail slot="start">
          <img src="https://blog.hypergo.net/images/cartoon/5_angry_birds_pig_happy.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>不存在的房间</h2>
          <p>这是一个不存在的房间</p>
        </ion-label>
        <div class="info">
          <time>00:00</time>
          <ion-badge class="bg-danger" mode="ios">{{ 999 | numLimit: 99 }}</ion-badge>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning">设为已读</ion-item-option>
        <ion-item-option class="bg-danger">移除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>