.chat-session-list-item {
  position: relative;
  touch-action: auto !important;
  --padding-start: 1rem;
  --padding-end: 0;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  --min-height: auto;

  &.sticky::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0;
    height: 0;
    border: 0.5rem solid;
    border-color: transparent transparent rgba(var(--oc-color-primary-rgb), 0.5) transparent;
    border-radius: 0.25rem;
    z-index: 2;
    transform: rotate(45deg);
  }

  .chat-session-list-item-img {
    object-fit: cover;
    background: var(--oc-color-secondary);
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.75);
    }
  }

  .chat-session-list-item-img,
  .chat-session-list-item-icon {
    margin: 0 0.75rem 0 0;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
  }

  .chat-session-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--oc-color-primary-rgb), 0.75);

    ion-icon {
      font-size: 1.65rem;
      color: var(--oc-color-white);
    }
  }

  .chat-session-list-item-title {
    color: var(--oc-color-dark);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0 0.125rem;
  }

  .chat-session-list-item-desc {
    font-size: 0.7rem;
    color: var(--oc-color-muted);
    margin: 0;
  }
}

.chat-session-list-item-option {
  font-size: 0.8rem;
}

.info {
  text-align: right;

  time {
    display: block;
    color: var(--oc-color-muted);
    font-size: 0.65rem;
    margin-bottom: 0.25rem;
  }
}

// ion-searchbar {
//   padding: 0.75rem 1rem 0.25rem;
// }
