.bubble-toolbar {
    padding: 0.25rem 0.5rem;
    flex-wrap: wrap;
    color: var(--color-light);
    background: var(--color-dark);
    list-style: none;
}

.bubble-toolbar-item {
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 0.75rem;

    > ion-icon {
        font-size: 1.25rem;
    }
}

::ng-deep .bubble-toolbar-popover {
    .popover-arrow::after {
        background: var(--color-dark) !important;
    }

    .popover-content {
        width: auto;
        // 多一个按钮，就加3rem
        max-width: 10rem;
    }
}
