<ion-header slot="fixed">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;--ionicon-stroke-width: 2.75rem;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>聊天室成员（{{ chatMembers.length }}）</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated placeholder="搜索" (ngModelChange)="search($event)" [(ngModel)]="keyword"></ion-searchbar>

  <app-empty *ngIf="list?.length === 0"></app-empty>

  <cdk-virtual-scroll-viewport [itemSize]="itemHeight" [minBufferPx]="minBufferPx" [maxBufferPx]="maxBufferPx">
    <ion-list class="chat-member-list">
      <ion-item *cdkVirtualFor="let item of list; trackById" mode="md" lines="none" [detail]="false" button
                class="ion-activatable" (click)="onTap(item)">
        <ion-img class="clip" slot="start" [src]="item.avatarThumbnail"></ion-img>

        <ion-label class="dp-flex align-center">
          <ion-badge *ngIf="item.role === chatMemberRole.Host" mode="ios" class="host-badge">
            {{ item.role | memberRole }}
          </ion-badge>
          <ion-badge *ngIf="item.role === chatMemberRole.Manage" mode="ios" class="manage-badge">
            {{ item.role | memberRole }}
          </ion-badge>
          {{ item.nickname }}
        </ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>
