ion-item {
  position: relative;
  touch-action: auto !important;
  --padding-start: 1rem;
  --padding-end: 0;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  --min-height: auto;

  ion-img,
  img {
    margin: 0 0.75rem 0 0;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    object-fit: cover;
    background: var(--oc-color-secondary);
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.75);
    }
  }

  h2 {
    color: var(--oc-color-dark);
    font-size: 0.9rem;
    margin: 0 0 0.125rem;
  }

  p {
    font-size: 0.7rem;
    color: var(--oc-color-muted);
    margin: 0;
  }
}

ion-item-option {
  font-size: 0.8rem;
}
