<ion-content [fullscreen]="true">
  <ion-header class="d-flex align-items-center">
    <ion-toolbar>
      <ion-button slot="start" (tap)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;"></ion-icon>
      </ion-button>

      <ion-title>文本编辑器</ion-title>

      <ion-buttons slot="end" [hidden]="!showSendBtn()">
        <ion-button (tap)="send()">
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <main>
    <quill-editor class="flex-col-container" [(ngModel)]="html" [modules]="modules"
      (onContentChanged)="onContentChanged($event)">
    </quill-editor>
  </main>

</ion-content>