ion-header {
    background: transparent;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: var(--color-black);
    }

    ion-spinner {
        --color: var(--color-black);
        margin-right: 0.25rem;
    }

    > ion-toolbar {
        --background: rgba(var(--color-white-rgb), 0.75);
    }
}

.router-outlet {
    margin-top: 6rem;

    &::ng-deep > * {
        background: var(--color-white);
        overflow: auto;
    }
}

:host ::ng-deep {
    ion-item {
        position: relative;
        touch-action: auto !important;
        --padding-start: 1rem;
        --padding-end: 0;
        --padding-top: 0.25rem;
        --padding-bottom: 0.25rem;
        --min-height: auto;

        ion-img {
            margin: 0 0.75rem 0 0;
            width: 3.25rem;
            height: 3.25rem;
            border-radius: 50%;
            object-fit: cover;
            background: var(--color-secondary);
        }

        h2 {
            color: var(--color-dark);
            font-size: 0.9rem;
            margin: 0 0 0.125rem;
        }

        p {
            font-size: 0.7rem;
            color: var(--color-muted);
        }

        button {
            font-size: 0.75rem;
            padding: 0.3rem 0.7rem;
            margin-right: 0.2rem;
            border-radius: 1rem;
        }

        .status {
            color: var(--color-muted);
            font-size: 0.75rem;
            margin-right: 0.2rem;
        }
    }

    ion-item-option {
        font-size: 0.8rem;
    }
}
