<ion-content appScrollbar [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>添加好友</ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="user.avatarThumbnail">

  <main class="flex-col-container align-items-center">
    <img class="avatar" [src]="user.avatarThumbnail" [routerLink]="['/user', user.id]">
    <h1>{{ user.username }}</h1>

    <ion-item lines="none" *ngIf="rejectReason">
      <ion-label position="stacked">对方的拒绝原因</ion-label>
      <p>{{ rejectReason }}</p>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">好友别名</ion-label>
      <ion-input [(ngModel)]="targetAlias" clearInput [maxlength]="nicknameMaxLength" placeholder="给对方起个好听的别名吧">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">申请原因</ion-label>
      <ion-textarea [(ngModel)]="requestReason" clearInput [maxlength]="reasonMaxLength" rows="4" autoGrow
        placeholder="告诉对方你的好友申请原因">
      </ion-textarea>
    </ion-item>

    <div class="flex-auto"></div>

    <button appRipple appActiveClass (tap)="friendRequest()" class="btn-primary btn-block">
      立即申请
    </button>
  </main>
</ion-content>