<ion-list lines="none">
  <ion-item class="ion-activatable ripple-parent" [detail]="false" routerLink="/user/login">
    <ion-label class="d-flex">
      <ion-icon name="time-outline"></ion-icon>
      测试
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent" [detail]="false" routerLink="/user/login">
    <ion-label class="d-flex a">
      <ion-icon name="information-circle-outline"></ion-icon>
      测试
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-list>