@import "../../../../../theme/color.scss";

ion-item {
  --padding-start: 1rem;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  ion-thumbnail {
    --border-radius: 50%;
    margin: 0 0.75rem 0 0;
    width: 3rem;
    height: 3rem;
  }

  h3 {
    color: $dark;
    font-size: 0.85rem;
    font-weight: bold;
  }

  p {
    font-size: 0.75rem;
    margin-top: .25rem;
  }
}

ion-item-option {
  font-size: .8rem;
}