ion-item {
  --padding-start: 1rem;
  --padding-end: 0;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;

  ion-thumbnail {
    margin: 0 0.75rem 0 0;
    width: 3.25rem;
    height: 3.25rem;
  }

  h2 {
    color: var(--custom-color-dark);
    font-size: 0.9rem;
  }

  p {
    color: var(--custom-color-muted);
    font-size: 0.7rem;
  }
}

ion-item-option {
  font-size: 0.8rem;
}
