<ion-list>
	<ion-item-sliding mode="md">
		<ion-item lines="none" [detail]="false" [routerLink]="['/chat']">
			<ion-thumbnail slot="start">
				<ion-img [alt]="'@'"
					src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=f4221d2ffed66745cd7fa6a6e97be9d6&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F91ef76c6a7efce1b5f63427ea351f3deb48f653e.jpg">
				</ion-img>
			</ion-thumbnail>
			<ion-label>
				<h2 class="font-weight-bold">Iron Man</h2>
				<p>Call Jarvis</p>
			</ion-label>
		</ion-item>
		<ion-item-options side="end">
			<ion-item-option class="bg-danger">删除好友</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>

	<ion-item-sliding mode="md">
		<ion-item lines="none" [detail]="false">
			<ion-thumbnail slot="start">
				<ion-img src="https://up.enterdesk.com/edpic/ab/18/82/ab18826a307aea06ad0d128b88fb24d0.jpg"></ion-img>
			</ion-thumbnail>
			<ion-label>
				<h2 class="font-weight-bold">Captain America</h2>
				<p>I can fight all day</p>
			</ion-label>
		</ion-item>
		<ion-item-options side="end">
			<ion-item-option class="bg-danger">删除好友</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>

	<ion-item-sliding mode="md">
		<ion-item lines="none" [detail]="false">
			<ion-thumbnail slot="start">
				<ion-img src="https://y.gtimg.cn/music/photo_new/T001R150x150M000001RQFGi0k8B6b.jpg"></ion-img>
			</ion-thumbnail>
			<ion-label>
				<h2 class="font-weight-bold">Lovelyz</h2>
				<p>Good night like yesterday</p>
			</ion-label>
		</ion-item>
		<ion-item-options side="end">
			<ion-item-option class="bg-danger">删除好友</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>

	<ion-item-sliding mode="md">
		<ion-item lines="none" [detail]="false">
			<ion-thumbnail slot="start">
				<ion-img src="https://y.gtimg.cn/music/photo_new/T001R150x150M00000376W501k9oCj.jpg"></ion-img>
			</ion-thumbnail>
			<ion-label>
				<h2 class="font-weight-bold">Rocket Punch</h2>
				<p>I wanna hit the world with Rocket Punch</p>
			</ion-label>
		</ion-item>
		<ion-item-options side="end">
			<ion-item-option class="bg-danger">删除好友</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
</ion-list>