/* 星座字体 */
@font-face {
    font-family: "constellation";
    src: url("/assets/font/constellation/constellation.eot");
    src: url("/assets/font/constellation/constellation.eot?#iefix") format("embedded-opentype"),
        url("/assets/font/constellation/constellation.woff") format("woff"),
        url("/assets/font/constellation/constellation.ttf") format("truetype"),
        url("/assets/font/constellation/constellation.svg") format("svg");
}

/* 星座 */
i[class*="icon-constellation-"] {
    font-family: "constellation";
    font-size: inherit;
    font-style: normal;
}
/* 白羊座 */
.icon-constellation-aries:before {
    content: "\f0015";
    color: #f5222d;
}
/* 金牛座 */
.icon-constellation-taurus:before {
    content: "\f0014";
    color: #1890ff;
}
/* 双子座 */
.icon-constellation-gemini:before {
    content: "\f0013";
    color: #faad14;
}
/* 天枰座 */
.icon-constellation-libra:before {
    content: "\f0012";
    color: #eb2f96;
}
/* 射手座 */
.icon-constellation-sagittarius:before {
    content: "\f0011";
    color: #a0d911;
}
/* 天蝎座 */
.icon-constellation-scorpio:before {
    content: "\f0010";
    color: #722ed1;
}
/* 巨蟹座 */
.icon-constellation-cancer:before {
    content: "\f000f";
    color: #fff;
}
/* 狮子座 */
.icon-constellation-leo:before {
    content: "\f000e";
    color: #fadb14;
}
/* 摩羯座 */
.icon-constellation-capricorn:before {
    content: "\f000c";
    color: #2f54eb;
}
/* 处女座 */
.icon-constellation-virgo:before {
    content: "\f000d";
    color: #52c41a;
}
/* 双鱼座 */
.icon-constellation-pisces:before {
    content: "\f000b";
    color: #fa8c16;
}
/* 水瓶座 */
.icon-constellation-aquarius:before {
    content: "\f000a";
    color: #40c4ff;
}
