<ion-slides [pager]="true">
  <ion-slide>
    <div class="grid-container">
      <button appActiveClass [appActiveClassDuration]="200" class="ion-activatable ripple-parent btn-light">
        <ion-icon name="image"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </button>

      <button appActiveClass [appActiveClassDuration]="200" class="ion-activatable ripple-parent btn-light">
        <ion-icon name="brush"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
  </ion-slide>
</ion-slides>