ion-slides {
    --bullet-background-active: var(--oc-color-primary);
    --bullet-background: var(--oc-color-primary);

    height: 100%;
    width: 100%;
    padding: 2rem 10px 35px;
}

ion-slide {
    align-items: flex-start;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 3.75rem);
    grid-template-rows: repeat(2, 3.75rem);
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 80%;

    > button {
        border-radius: 1.25rem;

        > ion-icon {
            font-size: 2rem;
        }
    }
}
