<ion-content appHideScrollbar [fullscreen]="true">
  <ion-header class="display-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="user.id == globalData.user?.id" routerLink="/user/settings">
        <ion-button>
          <ion-icon slot="icon-only" name="brush-outline" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- <img class="bg-img" [src]="user.backgroundImage"> -->
  <img class="bg-img" src="https://blog.hypergo.net/api/bing/image.php">

  <div class="card">
    <div class="card-header">
      <img class="avatar" [src]="user.avatarThumbnail" [routerLink]="['/user/avatar', user.id]">
      <div class="info">
        <h4>{{ user.username }}</h4>
        <div class="account">
          <div>USER-ID：{{ user.id }}</div>
          <div>昵称：{{ user.nickname || user.username }}</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <article class="signature ion-activatable ripple-container">
        {{ user.signature || '这个人很懒，什么都没写~' }}
        <ion-ripple-effect></ion-ripple-effect>
      </article>

      <div class="last-online ion-activatable ripple-container">
        <ion-icon name="time"></ion-icon>
        最近一次上线时间：{{ user.loginTime | date:'yyyy年M月d日' }}
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <ul class="details-list">
        <li class="details-item">
          <label>心 情</label>
          <span class="display-flex align-items-center justify-content-end">
            <app-mood-icon [value]="(user.mood != null ? user.mood : mood.Joy)"></app-mood-icon>
            <span>{{ (user.mood != null ? user.mood : mood.Joy) | mood }}</span>
          </span>
        </li>

        <li class="details-item">
          <label>生 日</label>
          <span>{{ user.birthday ? (user.birthday | date:'yyyy-M-d') : '未设置' }}</span>
        </li>

        <li class="details-item">
          <label>性 别</label>
          <span>{{ (user.gender != null ? user.gender : gender.Secret) | gender }}</span>
        </li>

        <li class="details-item">
          <label>年 龄</label>
          <span>{{ user.age || 0 }}岁</span>
        </li>

        <li class="details-item">
          <label>十二星座</label>
          <span>
            <app-constellation-icon *ngIf="user.constellation" [value]="user.constellation"></app-constellation-icon>
            {{ user.constellation ? (user.constellation | constellation) : '未设置' }}
          </span>
        </li>

        <li class="details-item">
          <label>电子邮箱</label>
          <span>{{ user.email || '未绑定' }}</span>
        </li>
      </ul>
    </div>
  </div>

  <aside class="bottom-bar">
    <button *ngIf="chatroomId" appActiveClass [appActiveClassDuration]="250" [routerLink]="['/chat', chatroomId]"
      class="ion-activatable ripple-container btn-primary btn-block">
      跟Ta聊聊
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <!-- TODO 这边以后可以和自己聊天 -->
    <button *ngIf="!chatroomId && globalData.user?.id != user.id" appActiveClass [appActiveClassDuration]="250"
      [routerLink]="['/friend/request', user.id]" class="ion-activatable ripple-container btn-primary btn-block">
      加Ta好友
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </aside>
</ion-content>