ion-header {
  background: transparent;

  ion-buttons ion-back-button,
  ion-buttons ion-button {
    --color: #fff;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.75));
  }
}

ion-content {
  --padding-start: 1rem;
  --padding-end: 1rem;
}

main {
  min-height: 100vh;
  padding-bottom: calc(var(--ion-safe-area-bottom, 0) + 1rem);
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.banner-container {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  margin-bottom: 0.75rem;
}

.avatar {
  width: 5.5rem;
  height: 5.5rem;
  padding: 0.25rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px) saturate(175%);
}

.username {
  margin: 0 0 0.25rem;
  font-size: 1.5rem;
  max-width: 65vw;
}

.cloud-block {
  padding: 0.75rem;
  background: rgba(var(--color-white-rgb), 0.75);
  backdrop-filter: blur(15px) saturate(175%);
  border-radius: 1.25rem;

  &.signature,
  &.last-online {
    color: #fff;
  }

  &.signature {
    background: rgba(var(--color-primary-rgb), 0.75);
    border-radius: 1.25rem 1.25rem 0.5rem 0.5rem;

    > .text-ellipsis {
      max-width: 85vw;
    }
  }

  &.last-online {
    background: rgba(var(--color-info-rgb), 0.75);
    border-radius: 0.5rem 0.5rem 1.25rem 1.25rem;
  }

  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  > ion-icon {
    flex-shrink: 0;
    font-size: 1.25rem;
    margin-right: 0.4rem;
  }
}

.cloud-block-item {
  padding: 0.5rem 0.25rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

app-mood-icon {
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

app-constellation-icon {
  font-size: 1.25rem;
}

.bottom-bar {
  position: fixed;
  left: 1rem;
  bottom: calc(var(--ion-safe-area-bottom, 0) + 1rem);
  width: calc(100vw - 2rem);
  transform: translateY(100%);
  animation: slide-in-up 0.25s ease 0.1s forwards;
}
