<ion-content appScrollbar [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="user.id == globalData.user?.id" routerLink="/user/settings/info">
        <ion-button>
          <ion-icon slot="icon-only" name="create-outline" style="font-size: 1.5rem;--ionicon-stroke-width: 2.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <main>
    <!-- <img class="bg-img" [src]="user.backgroundImage"> -->
    <img class="bg-img" src="https://blog.hypergo.net/api/bing/image.php">

    <div class="banner-container">
      <div>
        <h1 class="username font-bold text-ellipsis">{{ user.username }}</h1>
        <div>USER-ID：{{ user.id }}</div>
      </div>
      <img class="avatar" [src]="user.avatarThumbnail" [routerLink]="['/user/avatar', user.id]">

    </div>

    <article appRipple class="cloud-block signature dp-flex align-center">
      <ion-icon name="sparkles"></ion-icon>
      {{ user.signature || '这个人很懒，什么都没写~' }}
    </article>

    <div appRipple class="cloud-block last-online dp-flex align-center">
      <ion-icon name="time"></ion-icon>
      最近一次上线时间：{{ user.loginTime | date:'yyyy年M月d日' }}
    </div>

    <div class="cloud-block">
      <div class="cloud-block-item">
        <span>昵 称</span>
        <span>{{ user.nickname || user.username }}</span>
      </div>

      <div class="cloud-block-item">
        <span>心情</span>
        <span class="dp-flex align-center">
          <app-mood-icon [value]="(user.mood != null ? user.mood : mood.Joy)"></app-mood-icon>
          <span>{{ (user.mood !== null ? user.mood : mood.Joy) | mood }}</span>
        </span>
      </div>

      <div class="cloud-block-item">
        <span>生 日</span>
        <span>{{ user.birthday ? (user.birthday | date:'yyyy-M-d') : '未设置' }}</span>
      </div>

      <div class="cloud-block-item">
        <span>性 别</span>
        <span>{{ (user.gender != null ? user.gender : gender.Secret) | gender }}</span>
      </div>

      <div class="cloud-block-item">
        <span>年 龄</span>
        <span>{{ user.age || 0 }}岁</span>
      </div>

      <div class="cloud-block-item">
        <span>十二星座</span>
        <span>
          <app-constellation-icon *ngIf="user.constellation" [value]="user.constellation"></app-constellation-icon>
          {{ user.constellation ? (user.constellation | constellation) : '未设置' }}
        </span>
      </div>
    </div>

    <button *ngIf="chatroomId" appRipple appActiveClass [routerLink]="['/chat', chatroomId]" class="btn-primary btn-block">
      跟Ta聊聊
    </button>

    <!-- TODO 这边以后可以和自己聊天 -->
    <button *ngIf="!chatroomId && globalData.user?.id !== user.id" appRipple appActiveClass
            [routerLink]="['/friend/request', user.id]" class="btn-primary btn-block">
      加Ta好友
    </button>
  </main>
</ion-content>