.font-family-primary {
    font-family: "Alibaba-Sans-Black" !important;
}
.color-primary {
    color: var(--oc-color-primary) !important;
}
.color-secondary {
    color: var(--oc-color-secondary) !important;
}
.color-white {
    color: var(--oc-color-white) !important;
}
.color-black {
    color: var(--oc-color-black) !important;
}
.color-dark {
    color: var(--oc-color-dark) !important;
}
.color-danger {
    color: var(--oc-color-danger) !important;
}
.color-light {
    color: var(--oc-color-light) !important;
}
.color-gray {
    color: var(--oc-color-gray) !important;
}
.color-medium {
    color: var(--oc-color-medium) !important;
}
.bg-primary {
    background-color: var(--oc-color-primary) !important;
}
.bg-secondary {
    background-color: var(--oc-color-secondary) !important;
}
.bg-white {
    background-color: var(--oc-color-white) !important;
}
.bg-black {
    background-color: var(--oc-color-black) !important;
}
.bg-danger {
    background-color: var(--oc-color-danger) !important;
}
.bg-light {
    background-color: var(--oc-color-light) !important;
}
.bg-gray {
    background-color: var(--oc-color-gray) !important;
}
.bg-medium {
    background-color: var(--oc-color-medium) !important;
}
.display-block {
    display: block !important;
}
.display-inline {
    display: inline !important;
}
.display-inline-block {
    display: inline-block !important;
}
.display-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-space-between {
    justify-content: space-between !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.align-items-center {
    align-items: center !important;
}
.flex-auto {
    flex: auto !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.font-weight-normal {
    font-weight: normal !important;
}
.font-weight-bold {
    font-weight: bold !important;
}
.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}
.outline-none {
    outline: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.overflow-hidden {
    overflow: hidden;
}
