@import "variables/color";

@each $color-name, $color-value in $colors-light {
    .color-#{$color-name} {
        color: var(--color-#{$color-name}) !important;
    }

    .bg-#{$color-name} {
        background-color: var(--color-#{$color-name}) !important;
    }
}

.font-primary {
    font-family: "Alibaba-Sans-Black" !important;
}
.dp-block {
    display: block !important;
}
.dp-inline {
    display: inline !important;
}
.dp-inline-block {
    display: inline-block !important;
}
.dp-flex {
    display: flex !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-space-between {
    justify-content: space-between !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.align-center {
    align-items: center !important;
}
.flex-auto {
    flex: auto !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.font-normal {
    font-weight: normal !important;
}
.font-bold {
    font-weight: bold !important;
}
.mg-0 {
    margin: 0 !important;
}
.pd-0 {
    padding: 0 !important;
}
.outline-none {
    outline: none !important;
}
.visibility-hidden {
    visibility: hidden !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.overflow-hidden {
    overflow: hidden;
}
