// 原生基础样式
* {
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--color-dark-rgb), 0.125) transparent;

    &::selection {
        color: var(--color-white);
        background: rgba(var(--color-primary-rgb), 0.75);
    }
}

body {
    background: var(--color-white);
}

img,
ion-img {
    @media (prefers-color-scheme: dark) {
        filter: brightness(0.75);
    }
}

input,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}
