// 标徽字体
@font-face {
    font-display: fallback;
    font-family: "Alibaba-Sans-Black";
    src: url("/assets/fonts/Alibaba-Sans-Black/font.gif");
    src: url("/assets/fonts/Alibaba-Sans-Black/font.gif") format("embedded-opentype"),
        url("/assets/fonts/Alibaba-Sans-Black/font.bmp") format("woff"),
        url("/assets/fonts/Alibaba-Sans-Black/font.jpg") format("truetype"),
        url("/assets/fonts/Alibaba-Sans-Black/font.png") format("svg");
}
