@import "~@angular/cdk/overlay-prebuilt.css";

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// LOGO文字标徽定义
.onchat-brand {
  font-family: "Alibaba-Sans-Black";
  letter-spacing: -0.05em;

  &::before {
    content: "On";
    color: #6c757d;
  }

  &::after {
    content: "Chat";
    color: var(--color-primary);
  }
}

.form-group {
  > label {
    margin: 0 0.5rem 0.5rem;
  }

  .ipt-primary {
    width: 100%;
    padding: 0 2.5rem;
  }

  .form-control {
    position: relative;

    > .btn-primary {
      position: absolute;
      height: 2.5rem;
      width: 30%;
      top: 0.375rem;
      right: 0.375rem;
      font-size: 0.9rem;
      border-radius: 2.5rem;
    }
  }
}

// 主要输入框
.ipt-primary {
  color: var(--color-dark);
  border: none;
  background: var(--color-secondary);

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-primary-rgb), 0.5);
  }

  &::placeholder {
    color: var(--color-muted);
    opacity: 0.5;
  }

  &.ng-invalid:not(.ng-pristine),
  &.invalid {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-danger-rgb), 0.5);
  }
}

// 主要输入框的警告模式
.ipt-primary ~ .form-control-warning,
.ipt-primary ~ .form-control-warning {
  color: var(--color-danger);
  opacity: 1;
  transition: all 0.125s ease-out;
}

// 主要输入框的正常模式
.ipt-primary ~ .form-control-warning.hide,
.ipt-primary.ng-valid ~ .form-control-warning:first-of-type,
.ipt-primary.ng-pristine ~ .form-control-warning:first-of-type,
.ipt-primary.ng-pending ~ .form-control-warning:first-of-type {
  height: 0;
  opacity: 0;
}

// 主要按钮
.btn-primary {
  color: #424242;
  background-color: var(--color-primary);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-primary-rgb), 0.5);
  }

  &[disabled] {
    color: rgba(#424242, 0.75);
    background-color: rgba(var(--color-primary-rgb), 0.5);
    pointer-events: none;
  }
}

.btn-ghost-primary {
  color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.25);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-primary-rgb), 0.5);
  }
}

// 白色按钮
.btn-white {
  color: var(--color-dark);
  background-color: var(--color-white);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-white-rgb), 0.5);
  }
}

// 白色按钮
.btn-light {
  color: var(--color-dark);
  background-color: var(--color-light);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-white-rgb), 0.5);
  }
}

// 二级按钮
.btn-secondary {
  color: var(--color-dark);
  background-color: var(--color-secondary);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-secondary-rgb), 0.75);
  }
}

.btn-danger {
  color: var(--color-danger);
  background-color: var(--color-white);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-danger-rgb), 0.25);
  }
}

.btn-primary,
.btn-ghost-primary,
.btn-white,
.btn-light,
.btn-secondary,
.btn-danger {
  padding: 0;
  margin: 0;

  &.btn-block {
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 1.25rem;
  }
}

.ipt-primary,
.btn-primary,
.btn-ghost-primary,
.btn-secondary,
.btn-danger,
.btn-light {
  box-shadow: none;
  transition: all 0.15s ease-in-out, box-shadow 0.25s ease-in;
}
