<ion-content appScrollbar [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>个人信息</ion-title>

      <ion-buttons slot="end" *ngIf="!form.invalid && dirty && !loading" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
    </ion-toolbar>
  </ion-header>

  <main>
    <div class="header overflow-hidden dp-flex justify-center align-center" [class.show-mask]="showMask">
      <img class="header-bg" src="https://blog.hypergo.net/api/bing/image.php">
      <div class="header-mask"></div>
      <img class="avatar dp-block" [src]="globalData.user.avatarThumbnail" (tap)="presentActionSheet()">
    </div>

    <form [formGroup]="form">
      <div class="form-group">
        <label class="dp-block">昵称</label>
        <input type="text" class="ipt-primary text-center dp-block" formControlName="nickname" (blur)="trimAll('nickname')"
               placeholder="请输入昵称" [maxlength]="nicknameMaxLength" required>

        <div class="form-control-warning dp-flex align-end">
          <ion-icon name="warning"></ion-icon>
          {{ nicknameFeedback(form.controls.nickname.errors) }}
        </div>
      </div>

      <div class="form-group">
        <label class="dp-block">个性签名</label>
        <ion-textarea class="ipt-primary text-center" formControlName="signature" rows="3" [maxlength]="signatureMaxLength"
                      placeholder="请输入个性签名" autoGrow clearInput></ion-textarea>

        <div class="form-control-warning dp-flex align-end">
          <ion-icon name="warning"></ion-icon>
          {{ signatureFeedback(form.controls.signature.errors) }}
        </div>
      </div>

      <div class="form-group">
        <label class="dp-block">心情</label>
        <app-mood-radio formControlName="mood"></app-mood-radio>
      </div>

      <div class="form-group">
        <label class="dp-block">生日</label>
        <ion-datetime class="ipt-primary text-center" formControlName="birthday" displayFormat="YYYY-MM-DD" [min]="min"
                      [max]="today" [monthNames]="monthNames" cancelText="取消" doneText="确认">
        </ion-datetime>
      </div>

      <div class="form-group">
        <label class="dp-block">性别</label>
        <ion-segment formControlName="gender">
          <ion-segment-button [value]="gender.Male">男</ion-segment-button>
          <ion-segment-button [value]="gender.Female">女</ion-segment-button>
          <ion-segment-button [value]="gender.Secret">保密</ion-segment-button>
        </ion-segment>
      </div>
    </form>
  </main>
</ion-content>