ion-header {
    background: transparent;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-spinner,
    ion-title {
        --color: #fff;
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.75));
    }

    ion-spinner {
        margin-right: 0.25rem;
    }
}

main {
    color: var(--color-dark);
}

.header {
    position: sticky;
    top: -9.5rem;
    left: 0;
    height: 12.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow: hidden;
    z-index: 5;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: backdrop-filter ease-in-out 0.125s;
}

.show-mask .header-mask {
    backdrop-filter: blur(15px) saturate(175%);
}

.avatar {
    width: 5.75rem;
    height: 5.75rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    padding: 0.25rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px) saturate(175%);
}

form {
    padding: 1rem;
}

.form-group {
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.form-control-warning {
    display: flex;
    align-items: flex-end;
    font-size: 0.85rem;
    height: 1.75rem;
    padding-left: 0.25rem;

    ion-icon {
        font-size: 1.125rem;
        margin-right: 0.25rem;
    }
}

.ipt-primary {
    font-size: 1rem;
    height: 2.75rem;
    border-radius: 1.5rem;
}

ion-textarea.ipt-primary {
    height: auto;
}

ion-textarea {
    ::ng-deep .sc-ion-textarea-ios {
        &.textarea-wrapper {
            min-height: 2.75rem;
        }

        &.native-textarea {
            min-height: 2.75rem;
            padding: 0.75rem 1rem;
        }
    }
}

ion-segment,
ion-datetime {
    height: 2.75rem;
}

ion-datetime {
    line-height: 2.75rem;
    padding: 0 1rem;
}
