ion-header {
    background: transparent;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: #fff;
        filter: drop-shadow(0 0 0.5rem rgba(var(--oc-color-black-rgb), 0.75));
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding: 1rem;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    border-radius: 0 0 1.5rem 1.5rem;
    object-fit: cover;
}

.header-title,
.header-subtitle {
    color: #fff;
    text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
}

.header-title {
    max-width: 90vw;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0.25rem 0;
}

.header-subtitle,
.header-descrption {
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.header-descrption {
    margin-bottom: 1rem;
}

ion-item {
    --background: rgba(255, 255, 255, 0.75);
    --padding-start: 1rem;
    --inner-padding-end: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    overflow: hidden;
    backdrop-filter: blur(10px);

    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-primary-rgb), 0.5);
        transition: box-shadow 0.2s ease-in-out;
    }

    > p,
    > ul {
        flex: 1;
        font-size: 1rem;
        margin: 0 0 0.4rem;
        padding: 0.25rem 0;
        color: #616161;
        word-break: break-word;
    }

    > ul {
        font-size: 0.95rem;
    }

    > ul li:not(:last-child) {
        margin-bottom: 0.125rem;
    }

    > ion-label {
        font-size: 0.95rem;
        margin: 0.6rem 0 0;
        --color: #424242;
    }

    > ion-input,
    > ion-textarea {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        --padding-top: 0.25rem;
        --padding-bottom: 0.25rem;
        --padding-end: 0;
        --color: #616161;
    }

    ::ng-deep ion-input .input-clear-icon {
        right: 0;
    }
}

.bottom-bar {
    margin-bottom: var(--ion-safe-area-bottom, 0);
}
