<ion-content appHideScrollbar [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>入群申请</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="chatRequest.chatroomAvatar">

  <main>
    <h2 class="header-title text-ellipsis">{{ chatRequest.chatroomName }}</h2>
    <div class="header-subtitle">ROOM-ID：{{ chatRequest.chatroomId }}</div>

    <ion-item *ngIf="chatRequest.handlerId" lines="none">
      <ion-label position="stacked">处理人：{{ chatRequest.handlerNickname }}</ion-label>
      <ul>
        <li>
          处理结果：<ng-container [ngSwitch]="chatRequest.status">
            <ng-container *ngSwitchCase="chatRequestStatus.Agree">已同意</ng-container>
            <ng-container *ngSwitchCase="chatRequestStatus.Reject">已拒绝</ng-container>
            <ng-container *ngSwitchDefault>未知状态</ng-container>
          </ng-container>
        </li>
        <li *ngIf="chatRequest.status === chatRequestStatus.Reject && chatRequest.rejectReason">
          拒绝原因：{{ chatRequest.rejectReason }}
        </li>
      </ul>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">申请原因</ion-label>
      <ion-textarea [(ngModel)]="requestReason" clearInput maxlength="50" rows="4" autoGrow placeholder="可以告诉他们你的申请原因">
      </ion-textarea>
    </ion-item>

    <aside *ngIf="chatRequest.status !== chatRequestStatus.Agree" class="bottom-bar">
      <button appRipple appActiveClass (tap)="request()" class="btn-primary btn-block">
        申请加入
      </button>
    </aside>
  </main>
</ion-content>