<ion-content [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>入群申请</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="request.chatroomAvatar">

  <main class="dp-flex flex-col justify-end">
    <div>
      <h2 class="header-title text-ellipsis font-bold">{{ request.chatroomName }}</h2>
      <div class="header-subtitle">ROOM-ID：{{ request.chatroomId }}</div>
    </div>

    <ion-item *ngIf="request.handlerId" class="clip" lines="none">
      <ion-label position="stacked">处理人：{{ request.handlerNickname }}</ion-label>
      <ul>
        <li>
          处理结果：<ng-container [ngSwitch]="request.status">
            <ng-container *ngSwitchCase="requestStatus.Agree">管理员已同意你的申请</ng-container>
            <ng-container *ngSwitchCase="requestStatus.Reject">管理员已拒绝你的申请</ng-container>
            <ng-container *ngSwitchDefault>未知状态</ng-container>
          </ng-container>
        </li>
        <li *ngIf="request.status === requestStatus.Reject && request.rejectReason">
          拒绝原因：{{ request.rejectReason }}
        </li>
      </ul>
    </ion-item>

    <ng-container *ngIf="request.status !== requestStatus.Agree">
      <ion-item class="clip" lines="none">
        <ion-label position="stacked">申请原因</ion-label>
        <ion-textarea [(ngModel)]="requestReason" clearInput [maxlength]="reasonMaxLength" rows="4" autoGrow
                      placeholder="可以告诉他们你的申请原因">
        </ion-textarea>
      </ion-item>

      <button appRipple appActiveClass (tap)="chatRequest()" class="btn-primary btn-block submit-btn">
        申请加入
      </button>
    </ng-container>
  </main>
</ion-content>