.msg-list {
  padding: 0rem;
  margin: 0;
  list-style: none;
  color: var(--custom-color-dark);
  contain: content;
}

.tip-item {
  margin: 1rem 0 0.25rem;
  text-align: center;
  opacity: 0;
  animation: fade-in 0.3s ease 0.25s forwards;

  > span {
    display: inline-block;
    max-width: calc(100vw - 7.5rem);
    text-align: left;
    font-size: 0.7rem;
    line-height: 0.95rem;
    color: var(--custom-color-medium);
    padding: 0.25rem 0.75rem;
    background: var(--custom-color-secondary);
    border-radius: 0.75rem;
  }

  ::ng-deep a {
    text-decoration: none;
  }
}

.msg-item {
  display: flex;
  padding-top: 0.85rem;

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--custom-color-secondary);
    border-radius: 2rem;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.85);
    }
  }

  .username {
    font-size: 0.8rem;
  }

  .msg-bubble {
    padding: 0.4rem 0.75rem;
    margin-top: 0.35rem;
    min-height: 2rem;
    min-width: 2rem;
    max-width: calc(100vw - 7.75rem);
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    word-break: break-word;
    display: inline-block;
    white-space: pre-wrap;
    touch-action: auto !important;
    user-select: auto !important;

    @media (prefers-color-scheme: dark) {
      color: var(--custom-color-white);
    }
  }

  &.msg-item-left {
    padding-left: 0.75rem;
    padding-right: 4rem;
    transform: translateX(-100%);
    animation: slide-in-right 0.45s ease forwards;

    > div {
      padding-left: 0.5rem;
    }

    .msg-bubble {
      background: var(--custom-color-gray);
    }
  }

  &.msg-item-right {
    flex-direction: row-reverse;
    padding-left: 4rem;
    padding-right: 0.75rem;
    transform: translateX(100%);
    animation: slide-in-left 0.45s ease forwards;

    > div {
      padding-right: 0.5rem;
      text-align: right;
    }

    .send-spinner {
      display: block;
      margin: -0.5rem 0.575rem -0.5rem auto;
      height: 1.5rem;
      width: 2rem;
      font-size: 999rem;
      --color: var(--custom-color-primary);
    }

    .username {
      text-align: right;
    }

    .msg-bubble {
      background: var(--custom-color-primary);
      text-align: left;
    }
  }
}
