<ul class="msg-list">
  <li class="tip-item" *ngIf="end">
    <span>没有更多消息</span>
  </li>
  <ng-container *ngFor="let item of data; let index = index; trackBy: trackByFn">
    <li class="tip-item" *ngIf="index === 0 || canShowTime(item.createTime, data[index - 1].createTime)">
      <span>{{ item.createTime | detailDate }} {{ item.createTime | date:'BBBBhh:mm' }}</span>
    </li>

    <ng-container [ngSwitch]="item.type">
      <li *ngSwitchCase="msgType.Tips" class="tip-item">
        <span [innerHTML]="item.data.content | html"></span>
      </li>

      <li *ngSwitchCase="msgType.Text" class="msg-item" [ngClass]="{
        'msg-item-right': onChatService.user && onChatService.user.id == item.userId,
        'msg-item-left': onChatService.user && onChatService.user.id != item.userId
      }">

        <ion-img class="avatar" [src]="item.avatarThumbnail" [routerLink]="['/card', item.userId]"></ion-img>

        <div>
          <div class="username" *ngIf="item.userId != onChatService.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}</div>
          <span class="msg-bubble ion-activatable ripple-parent" (press)="presentBubbleToolbarPopover(item, $event)"
            [innerHTML]="item.data.content + '<ion-ripple-effect></ion-ripple-effect>' | hyperlink | html">
          </span>

          <ion-spinner *ngIf="onChatService.user && onChatService.user.id == item.userId && item.loading"
            class="send-spinner" name="dots" [duration]="1000"></ion-spinner>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ul>