<ul class="msg-list">
  <li class="tip-item" *ngIf="end">
    <span>没有更多消息</span>
  </li>
  <ng-container *ngFor="let item of data; let index = index; trackBy: trackByFn">
    <li class="tip-item" *ngIf="index === 0 || canShowTime(item.createTime, data[index - 1].createTime)">
      <span>{{ item.createTime | detailDate }} {{ item.createTime | date:'aaahh:mm' }}</span>
    </li>

    <ng-container [ngSwitch]="item.type">
      <li *ngSwitchCase="msgType.Tips" class="tip-item">
        <span [innerHTML]="item.data.content | html"></span>
      </li>

      <li *ngSwitchCase="msgType.Text" class="msg-item" [ngClass]="{ 'msg-item-right': onChatService.userId == item.userId, 'msg-item-left': onChatService.userId != item.userId }">
        <!-- <div> -->
          <ion-img class="avatar" src="https://q.qlogo.cn/headimg_dl?dst_uin=1838491745&spec=5" [routerLink]="['/card', item.userId]"></ion-img>
        <!-- </div> -->
        <div>
          <div class="username">{{ item.nickname }}</div>
          <span class="msg-bubble ion-activatable ripple-parent" (press)="presentPopover(item, $event)" [innerHTML]="item.data.content + '<ion-ripple-effect></ion-ripple-effect>' | hyperlink | html"></span>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ul>
