<ul class="msg-list">
  <li class="tip-item" *ngIf="end">
    <span>没有更多消息</span>
  </li>

  <ng-container *ngFor="let item of data; let index = index; trackBy: trackByFn">
    <li class="tip-item" *ngIf="index === 0 || canShowTime(item.createTime, data[index - 1].createTime)">
      <span>{{ item.createTime | detailDate }} {{ item.createTime | date:'BBBBhh:mm' }}</span>
    </li>

    <ng-container [ngSwitch]="item.type">
      <li *ngSwitchCase="msgType.Tips" class="tip-item">
        <span [innerHTML]="item.data['content'] | html"></span>
      </li>

      <li *ngSwitchCase="msgType.Text" class="msg-item" [ngClass]="{
        'msg-item-right':  globalData.user?.id == item.userId,
        'msg-item-left':  globalData.user?.id != item.userId
      }">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId != globalData.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
            (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
            [innerHTML]="item.data['content'] | hyperlink | html">
          </span>

          <ion-spinner *ngIf="globalData.user?.id == item.userId && item.loading" class="send-spinner" name="dots"
            [duration]="1000"></ion-spinner>
        </div>
      </li>

      <li *ngSwitchCase="msgType.RichText" class="msg-item" [ngClass]="{
        'msg-item-right': globalData.user?.id == item.userId,
        'msg-item-left': globalData.user?.id != item.userId
      }">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div class="ql-container ql-snow">
          <div class="username" *ngIf="item.userId != globalData.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble ql-editor"
            (press)="presentBubbleToolbarPopover(item, bubble, $event)"
            (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
            [innerHTML]=" item.data['html'] | hyperlink | html"></span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.ChatInvitation" class="msg-item" [ngClass]="{
        'msg-item-right': globalData.user?.id == item.userId,
        'msg-item-left': globalData.user?.id != item.userId
      }">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId != globalData.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble msg-bubble-card"
            (press)="presentBubbleToolbarPopover(item, bubble, $event)"
            (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
            [routerLink]="['/chatroom', item.data['chatroomId']]">
            <ion-img class="bg-img" [src]="item.data['avatarThumbnail']"></ion-img>
            <div class="msg-bubble-card-body cursor-pointer">
              <div class="msg-bubble-card-label">邀请加入群聊</div>
              <div class="display-flex">
                <ion-img class="msg-bubble-card-avatar" [src]="item.data['avatarThumbnail']"></ion-img>
                <div>
                  <div class="msg-bubble-card-title text-ellipsis">{{ item.data['name'] }}</div>
                  <div class="msg-bubble-card-description">{{ '简介：' + (item.data['description'] ?
                    item.data['description'] : '暂无聊天室简介') }}</div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.Image" class="msg-item" [ngClass]="{
        'msg-item-right':  globalData.user?.id == item.userId,
        'msg-item-left':  globalData.user?.id != item.userId
      }">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId != globalData.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble msg-bubble-img"
            (press)="presentBubbleToolbarPopover(item, bubble, $event)"
            (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)">
            <img [src]="item.data['url']" />
            <ng-container *ngIf="item.loading">
              <div class="loading-mask" [ngStyle]="{ height: 100 - item.loading + '%' }"></div>
              <div class="loading-value">
                <ion-spinner name="crescent"></ion-spinner>
                {{ item.loading + '%' }}
              </div>
            </ng-container>
          </span>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ul>