ion-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: transparent;

    ion-buttons > * {
        --color: #fff;
        opacity: 0.95;
        filter: drop-shadow(0 0 0.5rem #000);
    }
}

ion-content {
    --background: #000;
    height: 100vh;
}

ion-slides {
    height: 100%;
    width: 100%;
}

img {
    @media (prefers-color-scheme: dark) {
        filter: brightness(0.75);
    }
}
