<ion-content [fullscreen]="true">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>入群申请</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="request.requesterAvatarThumbnail">

  <main class="dp-flex flex-col min-hg-full align-center">
    <img class="avatar" [src]="request.requesterAvatarThumbnail" [routerLink]="['/user', request.requesterId]">
    <h1 class="font-bold">{{ request.requesterNickname }}</h1>

    <ion-item class="clip" lines="none">
      <ion-label position="stacked">申请原因</ion-label>
      <p>{{ request.requestReason || (request.requesterNickname + ' 申请加入 ' + request.chatroomName) }}</p>
    </ion-item>

    <ion-item class="clip" lines="none">
      <ion-label position="stacked">相关信息</ion-label>
      <ul>
        <li>
          聊天室：{{ request.chatroomName }}
        </li>

        <li *ngIf="request.handlerId">
          处理人：{{ request.handlerNickname }}
        </li>

        <li *ngIf="request.handlerId">
          处理结果：<ng-container [ngSwitch]="request.status || requestStatus.Wait">
            <ng-container *ngSwitchCase="requestStatus.Agree">已同意</ng-container>
            <ng-container *ngSwitchCase="requestStatus.Reject">已拒绝</ng-container>
            <ng-container *ngSwitchDefault>未知状态</ng-container>
          </ng-container>
        </li>

        <li *ngIf="request.status === requestStatus.Reject && request.rejectReason">
          拒绝原因：{{ request.rejectReason }}
        </li>
      </ul>
    </ion-item>

    <div class="flex-auto"></div>

    <ion-buttons class="bottom-bar" *ngIf="!request.handlerId">
      <button appRipple appActiveClass (tap)="reject()" class="btn-secondary btn-block">
        拒绝申请
      </button>
      <button appRipple appActiveClass (tap)="agree()" class="btn-primary btn-block">
        同意申请
      </button>
    </ion-buttons>
  </main>
</ion-content>