ion-header {
    background: transparent;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: var(--color-white);
        filter: drop-shadow(0 0 0.5rem rgba(var(--color-black-rgb), 0.75));
    }
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    // 用于屏幕键盘弹起到时候，过渡
    transition: height 0.125s ease-out, width 0.125s ease-out;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 4rem 0 calc(var(--ion-safe-area-bottom, 0) + 1rem);
    background: linear-gradient(to bottom, transparent, rgba(var(--color-white-rgb), 0.5));
    backdrop-filter: blur(15px) saturate(175%);
}

.avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 5rem;
    border: 0.25rem solid rgba(var(--color-white-rgb), 0.5);
    object-fit: cover;
}

h1 {
    color: var(--color-white);
    font-size: 1.5rem;
    text-shadow: 0 0 0.5rem rgba(var(--color-black-rgb), 0.75);
    margin: 1rem 0 1.25rem;
}

ion-item {
    --background: rgba(var(--color-white-rgb), 0.75);
    --padding-start: 1rem;
    --inner-padding-end: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;

    > ion-label {
        font-size: 0.95rem;
        margin: 0.6rem 0 0;
        --color: var(--color-dark);
    }

    > p,
    > ul {
        flex: 1;
        font-size: 1rem;
        margin: 0 0 0.4rem;
        padding: 0.25rem 0;
        color: var(--color-medium);
        word-break: break-word;
    }

    > ul {
        font-size: 0.95rem;
    }

    > ul li:not(:last-child) {
        margin-bottom: 0.125rem;
    }
}

ion-buttons {
    .btn-block {
        flex: 1;

        &:first-child {
            margin-right: 1rem;
        }
    }
}

.bottom-bar,
ion-item {
    width: calc(100vw - 2rem);
    flex-shrink: 0;
}
