ion-header {
    height: 3rem;
    background: transparent;

    ion-buttons > *,
    ion-title {
        --color: var(--oc-color-white);
        filter: drop-shadow(0 0 0.5rem rgba(var(--oc-color-black-rgb), 0.75));
    }

    ion-title {
        font-size: 0.9rem;
    }
}
