<ion-content appScrollbar [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title [ngClass]="{hidden: !showMask}">{{ chatroom.name }}</ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="home-header" [ngClass]="{'show-mask': showMask}" (tap)="presentActionSheet()">
    <!-- <img class="home-header-img" src="https://blog.hypergo.net/images/banner/yein.jpg"> -->
    <img class="home-header-img" [src]="chatroom.avatar">
    <div class="home-header-mask"></div>
    <div class="home-header-info">
      <div class="home-header-title font-bold text-ellipsis">{{ chatroom.name }}</div>
      <div class="home-header-subtitle">
        ROOM-ID：{{ chatroom.id }}&nbsp;&nbsp;
        成员：{{ memberCount }}/{{ chatroom.maxPeopleNum }}
      </div>
    </div>
  </div>

  <div class="home-info">
    <div class="home-info-item">
      {{ chatroom.description || '暂无聊天室简介' }}
    </div>
    <div class="home-info-item">
      该聊天室于{{ chatroom.createTime | date: 'yyyy年MM月dd日' }}创建
    </div>
  </div>

  <div class="home-item">
    <div class="home-info-label">聊天室成员</div>
    <div class="avatar-list-track">
      <ng-container *ngFor="let item of chatMembers | slice: 0:(isMember ? 6 : 7)">
        <img class="avatar-list-img cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="'/user/' + item.userId">
      </ng-container>

      <!-- 如果不够6个，就填充空元素来维持UI -->
      <ng-container *ngIf="chatMembers.length < 6">
        <div *ngFor="let item of (6 - chatMembers.length | fill)" class="avatar-list-img"></div>
      </ng-container>

      <button appRipple *ngIf="isMember" class="add-btn" (tap)="inviteJoinChatroom()">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>
  </div>

  <ion-item-group *ngIf="isMember">
    <ion-item *ngIf="isManager || isHost" (tap)="changeChatroomName()" detail lines="none" button mode="md">
      <ion-label>聊天室名称</ion-label>
      <div class="value" slot="end">{{ chatroom.name }}</div>
    </ion-item>

    <ion-item (tap)="changeNickname()" detail lines="none" button mode="md">
      <ion-label>我的昵称</ion-label>
      <div class="value" slot="end">{{ member.nickname }}</div>
    </ion-item>
  </ion-item-group>

  <button *ngIf="isMember" appRipple appActiveClass class="btn-danger btn-block">
    退出聊天室
  </button>

  <aside class="bottom-bar">
    <button *ngIf="isMember" appRipple appActiveClass [routerLink]="['/chat', chatroom.id]" class="btn-primary btn-block">
      进去聊聊
    </button>

    <button *ngIf="!isMember" appRipple appActiveClass (tap)="request()" class="btn-primary btn-block">
      申请加入
    </button>
  </aside>
</ion-content>