<ul class="bubble-toolbar">
  <li class="bubble-toolbar-item ion-activatable ripple-parent" (tap)="copyText()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="copy-outline"></ion-icon>
    复制
  </li>

  <li *ngIf="onChatService.userId === msgItem.userId && now <= (msgItem.createTime * 1000 + 120000)" class="bubble-toolbar-item ion-activatable ripple-parent" (tap)="revokeMsg()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="arrow-undo-outline"></ion-icon>
    撤回
  </li>

  <li class="bubble-toolbar-item ion-activatable ripple-parent" (tap)="dismiss()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    回复
  </li>
</ul>