.bubble-toolbar {
    margin: 0;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    color: var(--custom-color-light);
    background: var(--custom-color-dark);
    list-style: none;
}

.bubble-toolbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 0.75rem;

    > ion-icon {
        display: block;
        font-size: 1.25rem;
    }
}

::ng-deep .bubble-toolbar-popover {
    .popover-arrow::after {
        background: var(--custom-color-dark) !important;
    }

    .popover-content {
        width: auto;
        // 多一个按钮，就加3rem
        max-width: 10rem;
    }
}
