<ion-content appScrollbar [fullscreen]="true">
  <ion-header class="d-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>创建聊天室</ion-title>

      <!-- <ion-buttons slot="end" *ngIf="!userInfoForm.invalid && dirty && !loading" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons> -->
      <!-- <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner> -->
    </ion-toolbar>
  </ion-header>
</ion-content>