<ion-content appScrollbar [fullscreen]="true">
  <ion-header class="d-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title>创建聊天室</ion-title>

      <ion-buttons slot="end" *ngIf="!chatroomForm.invalid && !loading" (tap)="submit()">
        <ion-button>
          <ion-icon slot="icon-only" name="checkmark-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-spinner slot="end" *ngIf="loading" name="crescent"></ion-spinner>
    </ion-toolbar>
  </ion-header>

  <main class="flex-col-container align-items-center">
    <ion-icon class="avatar" name="people-circle"></ion-icon>

    <form [formGroup]="chatroomForm">
      <div class="form-group">
        <label class="d-block">聊天室名称</label>
        <ion-input class="ipt-primary text-center" formControlName="chatroomName" (ionChange)="trim('chatroomName')"
          placeholder="请输入聊天室名称" [maxlength]="chatroomNameMaxLength" clearInput required></ion-input>

        <div class="feedback-control-invalid">
          <ion-icon name="warning"></ion-icon>
          <span *ngIf="chatroomForm.controls.chatroomName.errors">
            {{ chatroomNameFeedback(chatroomForm.controls.chatroomName.errors) }}
          </span>
        </div>
      </div>
    </form>
  </main>
</ion-content>