ion-header {
    height: 3rem;
    background: rgba(var(--oc-color-white-rgb), 0.75);
    backdrop-filter: blur(15px);
    border-radius: 0 0 1.5rem 1.5rem;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: var(--oc-color-black);
    }

    ion-title {
        font-size: 1rem;
    }

    ion-spinner {
        --color: var(--oc-color-black);
        margin-right: 0.25rem;
    }
}

main {
    padding: 4rem 0 1rem;
    color: var(--oc-color-dark);
}

.avatar {
    width: 5.75rem;
    height: 5.75rem;
}

form {
    padding: 0.5rem 1rem 0.75rem;
    width: 100%;
}

.form-group {
    font-size: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    > label {
        margin: 0 0.5rem 0.5rem;
    }
}

.form-control-warning {
    display: flex;
    align-items: flex-end;
    font-size: 0.85rem;
    height: 1.75rem;
    padding-left: 0.25rem;

    ion-icon {
        font-size: 1.125rem;
        margin-right: 0.25rem;
    }
}

ion-input {
    height: 2.75rem;
    padding: 0 1rem;

    ::ng-deep .sc-ion-input-ios {
        &.native-input {
            padding: 0 2.5rem;
        }
    }
}

ion-textarea {
    ::ng-deep .sc-ion-textarea-ios {
        &.textarea-wrapper {
            min-height: 2.75rem;
        }

        &.native-textarea {
            min-height: 2.75rem;
            padding: 0.75rem 1rem;
        }
    }
}

.ipt-primary {
    border: none;
    background: var(--oc-color-secondary);
    width: 100%;
    border-radius: 1.5rem;
}

ion-searchbar {
    position: sticky;
    top: calc(3rem - 1px);
    padding: 0.5rem 1rem;
    z-index: 1;

    &.sc-ion-searchbar-ios-h {
        ::ng-deep {
            .searchbar-input-container {
                height: 2.5rem;
                line-height: 2.5rem;
            }

            .searchbar-input {
                --background: rgba(var(--oc-color-gray-rgb), 0.5);
                backdrop-filter: blur(15px);
            }
        }
    }
}

.avatar-list {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 0.5rem;
        z-index: 1;
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, var(--oc-color-white), rgba(var(--oc-color-white-rgb), 0.001));
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, var(--oc-color-white), rgba(var(--oc-color-white-rgb), 0.001));
    }

    .avatar-list-track {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0.5rem;
        overflow-x: auto;

        > img {
            height: 2.75rem;
            width: 2.75rem;
            border-radius: 50%;
            margin-right: 0.75rem;
            object-fit: cover;
        }
    }
}

.page-label {
    width: 100%;
    padding: 0.25rem 1.5rem;
}

.friend-list {
    width: 100vw;

    ion-item {
        --padding-start: 1.125rem;
        --padding-end: 1.125rem;
        --inner-padding-end: 0;
    }

    ion-img,
    img {
        height: 2.75rem;
        width: 2.75rem;
        margin: 0 0.75rem 0 0;
        border-radius: 50%;
        object-fit: cover;
        background: var(--oc-color-secondary);
        overflow: hidden;
    }

    ion-label {
        margin: 1.125rem 0;
        font-size: 1rem;
    }

    ion-checkbox {
        --background: var(--oc-color-white);
        --border-width: 0.075rem;
        --border-color: rgba(var(--oc-color-dark-rgb), 0.5);
        --size: 1.5rem;
        --checkmark-width: 0.15rem;
        --background-checked: var(--oc-color-primary);
        --border-color-checked: var(--oc-color-primary);
        --transition: background-color ease-in-out 0.125s;

        margin: 0 0 0 0.75rem;
    }
}
