<ion-content [fullscreen]="true">
  <div class="flex-col-container overflow-hidden">
    <ion-grid class="display-flex align-items-center">
      <ion-row>
        <ion-col size="12">
          <div class="logo text-center">
            <h1 class="onchat-brand"></h1>
            <h5 class="font-weight-bold">世 界 都 在 聊</h5>
          </div>

          <form [formGroup]="loginForm">
            <div class="form-group">
              <input type="text" class="display-block text-center ipt-primary" id="username" formControlName="username"
                (blur)="trimAll('username')" placeholder="用户名" [maxlength]="usernameMaxLength" required>

              <div class="form-control-warning">
                <ion-icon name="warning"></ion-icon>
                <span *ngIf="loginForm.controls.username.errors">
                  {{ usernameFeedback(loginForm.controls.username.errors) }}
                </span>
              </div>
            </div>

            <div class="form-group">
              <input [type]="pwdInputType" class="display-block text-center ipt-primary" id="password"
                autocomplete="off" formControlName="password" (blur)="trimAll('password')" placeholder="密码"
                [maxlength]="passwordMaxLength" required>
              <ion-icon [name]="pwdInputType == 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()"></ion-icon>

              <div class="form-control-warning">
                <ion-icon name="warning"></ion-icon>
                <span *ngIf="loginForm.controls.password.errors">
                  {{ passwordFeedback(loginForm.controls.password.errors) }}
                </span>
              </div>
            </div>
          </form>
        </ion-col>

        <ion-col style="padding-right: .55rem;">
          <button appRipple appActiveClass class="btn-primary" routerLink="/user/register"
            [queryParams]="{username: loginForm.value.username}">
            注册
          </button>
        </ion-col>

        <ion-col style="padding-left: .55rem;">
          <button appRipple appActiveClass [disabled]="loginForm.invalid" (tap)="login()"
            class="ion-activatable btn-primary">
            登录
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <footer class="font-family-primary text-center">
      <div>
        Copyright © 2018~2021 HyperGo!
        <span style="padding: 0 .125rem;">|</span>
        All Rights Reserved
      </div>
      <div>Powered By Angular & Ionic</div>
    </footer>
  </div>

</ion-content>