.logo {
  margin-bottom: 2rem;

  h1 {
    font-size: 5rem;
  }

  h5 {
    font-size: 1.25rem;
    color: #6c757d;
  }
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-control-warning {
  font-size: 0.85rem;
  height: 1.75rem;
  padding-left: 0.25rem;

  ion-icon {
    font-size: 1.125rem;
    margin-right: 0.25rem;
  }
}

.ipt-password + ion-icon {
  position: absolute;
  top: 1.625rem;
  right: 1rem;
  transform: translateY(-50%);
  color: #e0e0e0;
  font-size: 1.5rem;

  @media (prefers-color-scheme: dark) {
    color: #757575;
  }
}

.ipt-primary,
.btn-container > .btn-primary {
  width: 100%;
  font-size: 1.35rem;
  height: 3.25rem;
  border-radius: 1.625rem;
}

.link-container {
  margin-top: 0.75rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;

  > span {
    display: inline-flex;
    align-items: center;

    > ion-icon {
      margin-right: 0.125rem;
    }
  }
}

ion-grid {
  padding: 0 1.5rem 5vh;

  &:focus-within + footer {
    padding: 0.55rem 1rem;
  }
}

footer {
  padding: 0.55rem 1rem calc(var(--ion-safe-area-bottom, 0) + 0.55rem);
  font-size: 0.7rem;
  color: #e0e0e0;

  @media (prefers-color-scheme: dark) {
    color: #757575;
  }
}
