<ion-content [fullscreen]="true">
  <div class="dp-flex flex-col min-hg-full overflow-hidden">
    <ion-grid class="dp-flex align-center flex-auto">
      <ion-row>
        <ion-col size="12">
          <div class="logo text-center">
            <h1 class="onchat-brand"></h1>
            <h5 class="font-bold">世 界 都 在 聊</h5>
          </div>

          <form [formGroup]="form">
            <div class="form-group">
              <input type="text" class="dp-block text-center ipt-primary" formControlName="username" (blur)="trimAll('username')"
                     placeholder="用户名" [maxlength]="usernameMaxLength" required>

              <div class="form-control-warning dp-flex align-end">
                <ion-icon name="warning"></ion-icon>
                {{ usernameFeedback(form.controls.username.errors) }}
              </div>
            </div>

            <div class="form-group">
              <div class="form-control">
                <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" autocomplete="current-password"
                       formControlName="password" (blur)="trimAll('password')" placeholder="密码" [maxlength]="passwordMaxLength"
                       required>
                <ion-icon [name]="pwdInputType === 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()">
                </ion-icon>

                <div class="form-control-warning dp-flex align-end">
                  <ion-icon name="warning"></ion-icon>
                  {{ passwordFeedback(form.controls.password.errors) }}
                </div>
              </div>
            </div>
          </form>
        </ion-col>

        <ion-col class="btn-container" style="padding-right: .55rem;">
          <button appRipple appActiveClass class="btn-primary" routerLink="/user/register"
                  [queryParams]="{username: form.value.username}">
            注册
          </button>
        </ion-col>

        <ion-col class="btn-container" style="padding-left: .55rem;">
          <button appRipple appActiveClass [disabled]="form.invalid" (tap)="login()" class="btn-primary">
            登录
          </button>
        </ion-col>

        <ion-col size="12" class="link-container text-right color-dark cursor-pointer">
          <span routerLink="/user/password/reset">
            <ion-icon name="help-circle-outline" style="font-size: 1.25rem;"></ion-icon>
            忘记密码
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <footer class="font-primary text-center">
      <div>
        Copyright © 2018~2021 HyperGo!
        <span style="padding: 0 .125rem;">|</span>
        All Rights Reserved
      </div>
      <div>Powered By Angular & Ionic</div>
    </footer>
  </div>

</ion-content>