ion-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
}

.brand {
  color: #6c757d;
  margin-bottom: 2rem;

  h1 {
    font-size: 5rem;
    letter-spacing: -0.25rem;
    animation: bounce-in-down 0.9s linear;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.feedback-control-invalid,
.feedback-form-invalid {
  display: flex;
  align-items: flex-end;
  font-size: .85rem;
  height: 1.75rem;
  padding-left: .25rem;

  ion-icon {
    font-size: 1.125rem;
    margin-right: .125rem;
  }
}

input {
  border: none;
  background: var(--custom-color-secondary);
  padding: 0 1.5rem;
}

#password + ion-icon,
#confirm-password + ion-icon {
  position: absolute;
  top: 1.625rem;
  right: 1rem;
  transform: translateY(-50%);
  color: #e0e0e0;
  font-size: 1.5rem;

  @media (prefers-color-scheme: dark) {
    & {
      color: #757575;
    }
  }
}

input,
button {
  width: 100%;
  font-size: 1.35rem;
  height: 3.25rem;
  border-radius: 1.625rem;
}

button {
  animation: bounce-in-up 0.9s linear;
}

footer {
  padding: 0.55rem 1rem;
  font-size: 0.7rem;
  color: #e0e0e0;

  @media (prefers-color-scheme: dark) {
    & {
      color: #757575;
    }
  }
}

@keyframes bounce-in-down {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce-in-up {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
