<ion-content>
  <ion-progress-bar type="indeterminate" mode="md" reversed="true" [ngClass]="{'visibility-hidden': !loading}"></ion-progress-bar>
  <div class="flex-col-container">
    <ion-grid class="d-flex align-items-center" style="padding: 0 1.5rem 10vh; flex: auto;">
      <ion-row>
        <ion-col size="12">
          <div class="brand text-center font-family-primary">
            <h1>
              On<span class="color-primary">Chat</span>
            </h1>
            <h5 class="font-weight-bold">世 界 都 在 聊</h5>
          </div>

          <form [formGroup]="loginForm">
            <div class="form-group">
              <input type="text" class="d-block text-center ipt-primary" id="username" formControlName="username" placeholder="用户名" maxlength="30" required>
              <div class="feedback-control-invalid">
                <ion-icon name="warning"></ion-icon>
                <span [hidden]="!loginForm.controls.username.errors || !loginForm.controls.username.errors.required">
                  用户名不能为空！
                </span>
                <span [hidden]="!loginForm.controls.username.errors || (!(loginForm.controls.username.errors.minlength) && !(loginForm.controls.username.errors.maxlength))">
                  用户名长度必须在5~30位字符之间！
                </span>
              </div>
            </div>
            <div class="form-group">
              <input [type]="pwdInputType" class="d-block text-center ipt-primary" id="password" formControlName="password" placeholder="密码" maxlength="50" required>
              <ion-icon slot="icon-only" [name]="pwdInputType == 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()"></ion-icon>
              <div class="feedback-control-invalid">
                <ion-icon name="warning"></ion-icon>
                <span [hidden]="!loginForm.controls.password.errors || !loginForm.controls.password.errors.required">
                  密码不能为空！
                </span>
                <span [hidden]="!loginForm.controls.password.errors || (!(loginForm.controls.password.errors.minlength) && !(loginForm.controls.password.errors.maxlength))">
                  密码长度必须在8~50位字符之间！
                </span>
              </div>
            </div>
          </form>
        </ion-col>

        <ion-col style="padding-right: .55rem;">
          <button appActiveClass [duration]="175" class="ion-activatable ripple-parent btn-primary" [routerLink]="['/register']">注册<ion-ripple-effect></ion-ripple-effect></button>
        </ion-col>

        <ion-col style="padding-left: .55rem;">
          <button appActiveClass [duration]="175" [disabled]="loginForm.invalid" (tap)="login()" class="ion-activatable ripple-parent btn-primary">登录<ion-ripple-effect></ion-ripple-effect></button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <footer class="font-family-primary text-center">
      <div>
        Copyright © 2018~2020 HyperGo!
        <span style="padding: 0 .125rem;">|</span>
        All Rights Reserved
      </div>
      <div>Powered By Angular & Ionic</div>
    </footer>
  </div>

</ion-content>