<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-header class="d-flex align-items-center" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="dismiss()">
          <ion-icon slot="icon-only" name="close-outline" style="font-size: 1.75rem;"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>头像裁剪</ion-title>

      <ion-buttons slot="end">
        <ion-button (tap)="uploadImage()">
          <ion-icon slot="icon-only" name="camera-outline" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <image-cropper [hidden]="error" [format]="format" [roundCropper]="true" [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true" [autoCrop]="false" [aspectRatio]="1" [resizeToWidth]="512" [imageQuality]="90"
    backgroundColor="#f0f0f0" [cropperMinWidth]="256" (imageLoaded)="onImageLoaded()"
    (loadImageFailed)="onLoadImageFailed()">
  </image-cropper>

  <div class="warning-tips" *ngIf="error">
    <ion-icon name="warning"></ion-icon>
    <div>图像加载失败</div>
  </div>

  <div class="buttom-bar">
    <button (tap)="submit()" appActiveClass [appActiveClassDuration]="250" [disabled]="error"
      class="ion-activatable ripple-parent btn-primary submit-btn">
      <ion-icon *ngIf="!error" name="checkmark-outline"></ion-icon>
      <ion-icon *ngIf="error" name="alert-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
</ion-content>