ion-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: transparent;

    ion-buttons > *,
    ion-title {
        --color: #fff;
        opacity: 0.95;
        filter: drop-shadow(0 0 0.5rem #000);
    }

    ion-title {
        font-size: 0.9rem;
    }
}

ion-content {
    --background: #000;
    height: 100vh;
}

.warning-tips {
    color: var(--oc-color-danger);
    flex-direction: column;

    > div {
        margin-top: -0.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bolder;
    }

    > ion-icon {
        font-size: 7.5rem;
    }
}

.warning-tips,
image-cropper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

image-cropper {
    --cropper-outline-color: #000;
    --cropper-overlay-color: #000;

    ::ng-deep {
        padding: 0;
        background: #000;

        > div {
            line-height: 0;
            background: transparent !important;
        }

        .source-image {
            background: #f0f0f0;
        }

        .move {
            border: 1px solid #fafafa !important;
        }

        .cropper {
            &::after {
                border: 0 !important;
                opacity: 0.5 !important;
            }

            .resize {
                padding: 10px !important;
                opacity: 0 !important;
            }
        }
    }
}

.buttom-bar {
    position: fixed;
    left: 0;
    bottom: calc(env(safe-area-inset-bottom) + 1.75rem);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.submit-btn {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 2.25rem;
    line-height: 1rem;

    ion-icon {
        --ionicon-stroke-width: 3.5rem;
        color: #000;
    }

    ion-spinner {
        --color: #000;
        width: 2rem;
        height: 2rem;
    }
}
