ion-header {
    background: transparent;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: #fff;
        filter: drop-shadow(0 0 0.5rem #000);
    }
}

ion-content {
    --background: #000;
    height: 100vh;
}

.warning-tips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    color: var(--color-danger);

    > ion-icon {
        font-size: 7.5rem;
    }
}

image-cropper::ng-deep {
    --cropper-outline-color: #000;
    --cropper-overlay-color: #000;

    background: #000;

    > div {
        line-height: 0;
        background: transparent !important;
    }

    .source-image {
        background: #f0f0f0;
    }

    .move {
        border: 1px solid #fafafa !important;
    }

    .cropper {
        &::after {
            border: none !important;
            opacity: 0.5 !important;
        }

        .resize {
            padding: 10px !important;
            opacity: 0 !important;
        }
    }
}

.buttom-bar {
    position: fixed;
    left: 0;
    bottom: calc(var(--ion-safe-area-bottom, 0) + 1.75rem);
    width: 100%;
    z-index: 1;
}

.submit-btn {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 2.25rem;
    line-height: 1rem;
    opacity: 0.95;

    ion-icon {
        --ionicon-stroke-width: 3.5rem;
        color: #000;
    }

    ion-spinner {
        --color: #000;
        width: 2rem;
        height: 2rem;
    }
}
