<ion-content>
  <ion-searchbar animated placeholder="搜索" (ionChange)="search()" [(ngModel)]="keyword"></ion-searchbar>

  <app-empty *ngIf="chatrooms?.length === 0"></app-empty>

  <ng-container *ngIf="!chatrooms">
    <app-skeleton-item *ngFor="let _ of 10 | fill"></app-skeleton-item>
  </ng-container>

  <cdk-virtual-scroll-viewport *ngIf="chatrooms?.length > 0" [itemSize]="itemHeight" [minBufferPx]="minBufferPx"
                               [maxBufferPx]="maxBufferPx">
    <ion-list class="friend-list">
      <ion-item mode="md" lines="none" [detail]="false" *cdkVirtualFor="let item of chatrooms; let i = index; trackBy: trackByFn"
                [routerLink]="['/chatroom', item.id]">
        <ion-img slot="start" class="clip" [src]="item.avatarThumbnail"></ion-img>

        <ion-label class="item-content">
          <h2 class="font-bold">{{ item.name }}</h2>
          <p class="mg-0">[简介] {{ item.description || '暂无聊天室简介~' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>