.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 3rem;
  background: rgba(var(--color-primary-rgb), 0.75);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);

  .avatar {
    opacity: 0.9;
    margin: 0.35rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: var(--color-white);
    border: 0.075rem solid var(--color-white);
  }

  .button-group {
    margin: 0.5rem 0 var(--ion-safe-area-bottom, 0);
    height: calc(100% - 3.5rem);
  }

  ion-button {
    --color: rgba(var(--color-white-rgb), 0.55);
    --color-hover: var(--color-white);
    --color-focused: var(--color-white);
    --color-activated: var(--color-white);
    --padding-start: 0.6rem;
    --padding-end: 0.6rem;
    --padding-left: 0.6rem;
    --padding-right: 0.6rem;
    position: relative;
    margin: 0 0 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      height: 4rem;
      width: 4rem;
      background: var(--color-white);
      border-radius: 50%;
      transform: scale(0);
    }

    &.active {
      --color: var(--color-white);
      animation: active 0.5s ease-out forwards;
    }

    &.active::before {
      animation: ripple 0.5s ease-out forwards;
    }

    > ion-badge {
      position: absolute;
      top: 0.15rem;
      right: -0.25rem;
    }
  }
}

ion-header {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 3rem);
  background: var(--color-light);
  border-radius: 0 0 1.5rem 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: border-radius ease-in-out 0.25s;
  z-index: 0;

  ion-toolbar {
    --border-width: 0;
    --background: transparent;

    ion-button {
      --color: var(--color-medium);

      > ion-icon {
        font-size: 1.75rem;
      }
    }
  }

  .onchat-brand {
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 0 0.75rem;
  }
}

.router-outlet {
  margin: 3rem 0 0 3rem;
}
