<ion-content [fullscreen]="true">
  <aside class="sidebar" slot="fixed">
    <img *ngIf="globalData.user" class="avatar cursor-pointer" [src]="globalData.user.avatarThumbnail"
      [routerLink]="['/user', globalData.user.id]">

    <div class="button-group display-flex">
      <ion-button expand="block" fill="clear" routerDirection="root" routerLink="/home/chat" routerLinkActive="active">
        <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
        <ion-badge [ngClass]="{'visibility-hidden': globalData.unreadMsgCount <= 0}" class="bg-danger">
          {{ globalData.unreadMsgCount | numLimit }}
        </ion-badge>
      </ion-button>

      <ion-button expand="block" fill="clear" routerDirection="root" routerLink="/home/contact"
        routerLinkActive="active">
        <ion-icon slot="icon-only" name="people"></ion-icon>
        <ion-badge [ngClass]="{'visibility-hidden': globalData.receiveFriendRequests.length <= 0}" class="bg-danger">
          {{ globalData.receiveFriendRequests.length | numLimit }}
        </ion-badge>
      </ion-button>

      <ion-button expand="block" fill="clear" routerDirection="root" routerLink="/home/profile"
        routerLinkActive="active">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>

      <div style="flex: auto;"></div>

      <ion-button expand="block" fill="clear" routerDirection="root" routerLink="/home/settings"
        routerLinkActive="active">
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </div>
  </aside>

  <ion-header class="display-flex align-items-center" slot="fixed"
    [ngStyle]="{'border-radius': sharp ? 0 : '0 0 1.5rem 0'}">
    <ion-toolbar>
      <span class="onchat-brand"></span>

      <ion-buttons slot="end">
        <ion-button (tap)="presentPopover($event)">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <main>
    <ion-router-outlet [animated]="false"></ion-router-outlet>
  </main>
</ion-content>