.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 3rem;
  background: rgba(var(--oc-color-primary-rgb), 0.75);
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000, 0.125);
  overflow: hidden;
  z-index: 99;

  .avatar {
    opacity: 0.9;
    margin: 0.35rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background: var(--oc-color-white);
    border: 0.075rem solid var(--oc-color-white);

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.85);
    }
  }

  .button-group {
    flex-direction: column;
    margin: 0.5rem 0 var(--ion-safe-area-bottom, 0);
    height: calc(100% - 3.5rem);
  }

  ion-button {
    --color: rgba(var(--oc-color-white-rgb), 0.55);
    --color-hover: var(--oc-color-white);
    --color-focused: var(--oc-color-white);
    --color-activated: var(--oc-color-white);
    --padding-start: 0.6rem;
    --padding-end: 0.6rem;
    --padding-left: 0.6rem;
    --padding-right: 0.6rem;
    position: relative;
    margin: 0 0 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      height: 4.5rem;
      width: 4.5rem;
      background: var(--oc-color-white);
      border-radius: 50%;
      transform: scale(0);
    }

    &.active {
      --color: var(--oc-color-white);
      animation: active 0.4s ease-out forwards;
    }

    &.active::before {
      animation: ripple 0.5s ease-out forwards;
    }

    > ion-badge {
      position: absolute;
      top: 0.15rem;
      right: -0.25rem;
    }
  }
}

ion-header {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: calc(100% - 3rem);
  overflow: hidden;
  background: var(--oc-color-light);
  border-radius: 0 0 1.5rem 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(#000, 0.125);

  ion-toolbar {
    --border-width: 0;
    --background: transparent;

    ion-button {
      --color: var(--oc-color-medium);

      > ion-icon {
        font-size: 1.75rem;
      }
    }
  }

  .brand {
    font-size: 1.35rem;
    line-height: 1.35rem;
    padding: 0 0.75rem;
  }
}

ion-router-outlet {
  margin: 3rem 0 var(--ion-safe-area-bottom, 0) 3rem;

  /* 路由转场淡入 */
  &::ng-deep .ion-page > * {
    opacity: 0.25;
    animation: zoom-out 0.25s ease-out forwards;
  }
}

::ng-deep {
  ion-popover {
    --background: var(--oc-color-light) !important;
  }
  .popover-content {
    --max-width: 8rem;
  }
}
