ion-header {
    height: 3rem;
    background: var(--oc-color-white);

    ion-buttons > *,
    ion-title {
        --color: var(--oc-color-black);
    }

    ion-title {
        font-size: 0.9rem;
    }
}

main {
    padding: 4rem 1rem 1rem;
}

.avatar {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5rem;
    object-fit: cover;
}

form {
    margin: 0.5rem 0 1.5rem;
    width: calc(100vw - 2rem);
}

.form-group {
    color: var(--oc-color-dark);
    font-size: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    > label {
        margin: 0 0.5rem 0.5rem;
    }
}

ion-input {
    height: 2.75rem;
    padding: 0 1rem;

    ::ng-deep .sc-ion-input-ios {
        &.native-input {
            padding: 0 2.5rem;
        }
    }
}

ion-textarea {
    ::ng-deep .sc-ion-textarea-ios {
        &.textarea-wrapper {
            min-height: 2.75rem;
        }

        &.native-textarea {
            min-height: 2.75rem;
            padding: 0.75rem 1rem;
        }
    }
}

ion-datetime {
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1rem;
}

.ipt-primary {
    border: 0;
    background: var(--oc-color-secondary);
    width: 100%;
    border-radius: 1.5rem;
}
