<ion-list>
	<ion-item-sliding mode="md" *ngFor="let item of onChatService.receiveFriendRequests; let i = index;">
		<ion-item-options side="start">
			<ion-item-option class="bg-gray color-medium">忽略</ion-item-option>
		</ion-item-options>

		<ion-item lines="none" [detail]="false" [routerLink]="['/friend/handle', item.selfId]">
			<ion-thumbnail slot="start">
				<ion-img *ngIf="i > 9" [src]="item.selfAvatarThumbnail">
				</ion-img>

				<img *ngIf="i <= 9" [src]="item.selfAvatarThumbnail">
			</ion-thumbnail>

			<ion-label class="item-content">
				<h2 class="font-weight-bold">{{ item.selfUsername }}</h2>
				<p>{{ item.requestReason || '申请添加你为好友' }}</p>
			</ion-label>

			<button appActiveClass [appActiveClassDuration]="200" (click)="friendRequestAgree(item.id, $event)"
				class="ion-activatable ripple-parent btn-primary">
				同意
				<ion-ripple-effect></ion-ripple-effect>
			</button>
		</ion-item>

		<ion-item-options side="end">
			<ion-item-option class="bg-danger" (tap)="friendRequestReject(item.id)">拒绝</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>

	<ion-item-sliding mode="md" *ngFor="let item of onChatService.sendFriendRequests; let i = index;">

		<ion-item lines="none" [detail]="false" [routerLink]="['/friend/request', item.targetId]">
			<ion-thumbnail slot="start">
				<ion-img *ngIf="i > 9" [src]="item.targetAvatarThumbnail">
				</ion-img>

				<img *ngIf="i <= 9" [src]="item.targetAvatarThumbnail">
			</ion-thumbnail>

			<ion-label>
				<h2 class="font-weight-bold">{{ item.targetUsername }}</h2>

				<ng-container [ngSwitch]="item.selfStatus || friendRequestStatus.Wait">
					<p *ngSwitchCase="friendRequestStatus.Wait">
						{{ item.requestReason ? '申请原因：' +  item.requestReason : '申请添加对方为好友' }}
					</p>
					<p *ngSwitchCase="friendRequestStatus.Reject">
						{{ item.rejectReason ? '拒绝原因：' +  item.rejectReason : '对方拒绝了你的好友申请' }}
					</p>
					<p *ngSwitchDefault>申请添加对方为好友</p>
				</ng-container>
			</ion-label>

			<ng-container [ngSwitch]="item.selfStatus || friendRequestStatus.Wait">
				<span class="status" *ngSwitchCase="friendRequestStatus.Wait">待验证</span>
				<span class="status" *ngSwitchCase="friendRequestStatus.Reject">已拒绝</span>
				<span class="status" *ngSwitchDefault>未知状态</span>
			</ng-container>
		</ion-item>

		<ion-item-options side="end">
			<ion-item-option class="bg-danger">删除</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>
</ion-list>