@import "../friend/friend.component.scss";

ion-item {
  button {
    font-size: 0.75rem;
    padding: 0.3rem 0.7rem;
    margin-right: 0.2rem;
    border-radius: 1rem;
  }

  .status {
    color: var(--oc-color-muted);
    font-size: 0.75rem;
    margin-right: 0.2rem;
  }
}
