<ion-list>
	<ion-item-sliding #ionItemSliding mode="md" *ngFor="let item of globalData.receiveFriendRequests;">
		<ion-item-options *ngIf="!item.targetReaded" side="start">
			<ion-item-option class="bg-primary" (tap)="readedReceiveRequest(item.id, ionItemSliding)">
				已读
			</ion-item-option>
		</ion-item-options>

		<ion-item lines="none" [detail]="false" [routerLink]="['/friend/handle', item.requesterId]">
			<ion-img slot="start" class="clip" [src]="item.requesterAvatarThumbnail"></ion-img>

			<ion-label class="item-content">
				<h2 class="font-bold">{{ item.requesterNickname }}</h2>
				<p>{{ item.requestReason || '申请添加你为好友' }}</p>
			</ion-label>

			<ng-container [ngSwitch]="item.status">
				<span class="status" *ngSwitchCase="friendRequestStatus.Reject">已拒绝</span>
				<span class="status" *ngSwitchCase="friendRequestStatus.Agree">已同意</span>
				<button *ngSwitchDefault appRipple appActiveClass (click)="agree(item.id, $event)" class="btn-ghost-primary">
					同意
				</button>
			</ng-container>
		</ion-item>

		<ion-item-options *ngIf="item.status === friendRequestStatus.Wait" side="end">
			<ion-item-option class="bg-danger" (tap)="reject(item.id)">拒绝</ion-item-option>
		</ion-item-options>
	</ion-item-sliding>

	<ion-item-sliding mode="md" *ngFor="let item of globalData.sendFriendRequests;">
		<ion-item lines="none" [detail]="false" [routerLink]="['/friend/request', item.targetId]">
			<ion-img slot="start" class="clip" [src]="item.targetAvatarThumbnail"></ion-img>

			<ion-label>
				<h2 class="font-bold">{{ item.targetNickname }}</h2>

				<p [ngSwitch]="item.status">
					<ng-container *ngSwitchCase="friendRequestStatus.Wait">
						{{ item.requestReason ? '申请原因：' + item.requestReason : '申请添加对方为好友' }}
					</ng-container>
					<ng-container *ngSwitchCase="friendRequestStatus.Reject">
						{{ item.rejectReason ? '拒绝原因：' + item.rejectReason : '对方拒绝了你的好友申请' }}
					</ng-container>
					<ng-container *ngSwitchDefault>申请添加对方为好友</ng-container>
				</p>
			</ion-label>

			<span class="status" [ngSwitch]="item.status">
				<ng-container *ngSwitchCase="friendRequestStatus.Reject">被拒绝</ng-container>
				<ng-container *ngSwitchCase="friendRequestStatus.Agree">已同意</ng-container>
				<ng-container *ngSwitchDefault>待验证</ng-container>
			</span>
		</ion-item>
	</ion-item-sliding>

	<ng-container *ngIf="!globalData.receiveFriendRequests && globalData.sendFriendRequests">
		<app-skeleton-item *ngFor="let _ of 10 | fill"></app-skeleton-item>
	</ng-container>

	<app-empty *ngIf="globalData.receiveFriendRequests?.length === 0 && globalData.sendFriendRequests?.length === 0"></app-empty>
</ion-list>