.chat-session-item {
  position: relative;
  height: 4.425rem;
  touch-action: auto !important;
  --padding-start: 1rem;
  --padding-end: 0;
  --padding-top: 0.25rem;
  --padding-bottom: 0.25rem;
  --min-height: auto;

  &.sticky::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 0;
    height: 0;
    border: 0.5rem solid;
    border-color: transparent transparent rgba(var(--color-primary-rgb), 0.5) transparent;
    border-radius: 0.25rem;
    z-index: 2;
    transform: rotate(45deg);
  }

  .chat-session-item-img {
    object-fit: cover;
    background: var(--color-secondary);
    aspect-ratio: 1 / 1;
  }

  .chat-session-item-img,
  .chat-session-item-icon {
    margin: 0 0.75rem 0 0;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
  }

  .chat-session-item-icon {
    background: rgba(var(--color-primary-rgb), 0.75);

    ion-icon {
      font-size: 1.65rem;
      color: var(--color-white);
    }
  }

  .chat-session-item-title {
    color: var(--color-dark);
    font-size: 0.9rem;
    margin: 0 0 0.125rem;
  }

  .chat-session-item-desc {
    font-size: 0.7rem;
    color: var(--color-muted);
  }
}

.chat-session-item-option {
  font-size: 0.8rem;
}

.info {
  > time {
    color: var(--color-muted);
    font-size: 0.65rem;
    margin-bottom: 0.25rem;
  }
}

// ion-searchbar {
//   padding: 0.75rem 1rem 0.25rem;
// }
