<ion-list>
  <ion-item lines="none" [detail]="false">
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item lines="none" [detail]="false">
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item lines="none" [detail]="false">
    <!-- <ion-range mode="md" [pin]="true" min="75" max="125" value="100" color="secondary"
      (ionChange)="rangeChange($event)">
      <ion-label slot="start">75%</ion-label>
      <ion-label slot="end">125%</ion-label>
    </ion-range> -->
  </ion-item>
  <ion-item lines="none" [detail]="false">
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="start" mode="md"></ion-checkbox>
  </ion-item>

  <ion-item lines="none" [detail]="false">
    <ion-button (tap)="showOverlayGlobalPanelCenter()">测试全局浮层通知</ion-button>
  </ion-item>
</ion-list>