<ion-list>
  <ion-item-sliding mode="md">
    <ion-item lines="none" [detail]="false">
      <ion-thumbnail slot="start">
        <img src="https://blog.hypergo.net/images/cartoon/4_angry_birds_blue.jpg">
      </ion-thumbnail>
      <ion-label class="item-content">
        <h2 class="font-weight-bold">Chatroom Name</h2>
        <p>Chatroom description</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option class="bg-danger">退出房间</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding mode="md">
    <ion-item lines="none" [detail]="false">
      <ion-thumbnail slot="start">
        <img src="https://blog.hypergo.net/images/cartoon/2_angry_birds_red.jpg">
      </ion-thumbnail>
      <ion-label class="item-content">
        <h2 class="font-weight-bold">Chatroom Name</h2>
        <p>Chatroom description</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option class="bg-danger">退出房间</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding mode="md">
    <ion-item lines="none" [detail]="false">
      <ion-thumbnail slot="start">
        <img src="https://blog.hypergo.net/images/cartoon/3_angry_birds_yellow.jpg">
      </ion-thumbnail>
      <ion-label class="item-content">
        <h2 class="font-weight-bold">Chatroom Name</h2>
        <p>Chatroom description</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option class="bg-danger">退出房间</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding mode="md">
    <ion-item lines="none" [detail]="false">
      <ion-thumbnail slot="start">
        <img src="https://blog.hypergo.net/images/cartoon/5_angry_birds_pig_happy.jpg">
      </ion-thumbnail>
      <ion-label class="item-content">
        <h2 class="font-weight-bold">Chatroom Name</h2>
        <p>Chatroom description</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option class="bg-danger">退出房间</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>