ion-header {
    background: rgba(var(--color-white-rgb), 0.75);
    backdrop-filter: blur(15px) saturate(175%);
    border-radius: 0 0 1.5rem 1.5rem;

    ion-buttons ion-back-button,
    ion-buttons ion-button,
    ion-title {
        --color: var(--color-black);
    }

    ion-spinner {
        --color: var(--color-black);
        margin-right: 0.25rem;
    }
}

form {
    padding: 4rem 1rem 1rem;
}

.form-group {
    margin-bottom: 1.25rem;

    > .form-control > .btn-primary {
        height: 2rem;
        top: 0.375rem;
        right: 0.375rem;
        font-size: 0.85rem;
    }
}

.form-control-warning {
    display: flex;
    align-items: flex-end;
    font-size: 0.85rem;
    height: 1.75rem;
    padding-left: 0.25rem;

    ion-icon {
        font-size: 1.125rem;
        margin-right: 0.25rem;
    }
}

.ipt-primary {
    font-size: 1rem;
    height: 2.75rem;
    border-radius: 1.625rem;
}
