aside {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  padding: 0.5rem 0;
  background: var(--color-white);

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(var(--color-white), rgba(var(--color-white-rgb), 0.001));
  }

  button {
    position: relative;
    color: var(--color-dark);
    font-size: 0.75rem;
    height: 4rem;
    width: calc(100% / 3);
    padding: 0.65rem 0;
    background: transparent;

    > ion-badge {
      position: absolute;
      top: 0.5rem;
      transform: translateX(0.75rem);
    }

    ion-icon {
      font-size: 1.5rem;
      padding-bottom: 0.25rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 2.25rem);
      left: calc(50% - 2.25rem);
      height: 4.65rem;
      width: 4.65rem;
      background: rgba(var(--color-primary-rgb), 0.5);
      border-radius: 50%;
      transform: scale(0);
    }

    &.active::before {
      animation: ripple 0.5s ease-out forwards;
    }

    &.active {
      animation: active 0.4s ease-out forwards;
    }

    &:nth-of-type(1).active ~ .slider {
      width: calc(3em * 0.9);
      left: calc(100% / 6);
    }

    &:nth-of-type(2).active ~ .slider {
      width: calc(2em * 0.9);
      left: 50%;
    }

    &:nth-of-type(3).active ~ .slider {
      width: calc(3em * 0.9);
      left: calc(5 * calc(100% / 6));
    }
  }

  .slider {
    position: absolute;
    bottom: 0.35rem;
    height: 0.25rem;
    font-size: 0.75rem;
    transform: translateX(-50%);
    background: rgba(var(--color-primary-rgb), 0.75);
    border-radius: 0.25rem;
    transition: left 0.25s ease-in-out, width 0.25s ease-in-out;
  }
}

.router-outlet {
  margin-top: 5.25rem;
}
