@import "../../../../theme/color.scss";

ion-searchbar {
  --color: #424242;
  --background: #f5f5f5;
  padding: 0.5rem 1rem;

  &::ng-deep {
    .searchbar-input-container {
      height: 2.125rem;
      line-height: 2.125rem;
    }

    .searchbar-input {
      font-size: 0.95rem;
      border-radius: 1.5rem;
    }

    .searchbar-search-icon {
      width: 1.25rem;
    }

    .searchbar-clear-button.sc-ion-searchbar-ios {
      width: 2rem;
      padding-right: 0.25rem;
    }
  }

  &.searchbar-has-value::ng-deep,
  &.searchbar-has-focus::ng-deep {
    .searchbar-input.sc-ion-searchbar-ios {
      padding-inline-start: 2.125rem;
      padding-inline-end: 2rem;
    }

    .searchbar-search-icon {
      padding-left: 0.25rem;
    }
  }
}

aside {
  position: relative;
  display: flex;
  margin-bottom: 0.25rem;

  button {
    position: relative;
    color: $dark;
    font-size: 0.75rem;
    height: 4rem;
    width: calc(100% / 3);
    padding: 0.65rem 0;
    background: transparent;

    ion-icon {
      font-size: 1.5rem;
      padding-bottom: 0.25rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 2.25rem);
      left: calc(50% - 2.25rem);
      height: 4.5rem;
      width: 4.5rem;
      background: rgba(#000, .125);
      border-radius: 50%;
      transform: scale(0);
    }

    &.active::before {
      animation: ripple 0.5s ease-out forwards;
    }

    &.active {
      animation: active 0.4s ease-out forwards;
    }

    &:nth-of-type(1).active ~ .slider {
      width: calc(3em * 0.9);
      left: calc(100% / 6);
    }

    &:nth-of-type(2).active ~ .slider {
      width: calc(2em * 0.9);
      left: 50%;
    }

    &:nth-of-type(3).active ~ .slider {
      width: calc(3em * 0.9);
      left: calc(5 * calc(100% / 6));
    }
  }

  .slider {
    position: absolute;
    bottom: 0;
    height: 0.25rem;
    font-size: 0.75rem;
    transform: translateX(-50%);
    background: rgba($primary, 0.75);
    border-radius: 0.25rem;
    transition: left 0.25s ease-in-out, width 0.25s ease-in-out;
  }
}

router-outlet::ng-deep + * > * {
  /* 路由转场淡入 */
  opacity: 0.5;
  animation: fade-in 0.25s ease-out forwards;
}
