<ion-content appScrollbar>
    <aside>
        <button routerLink="/home/contact/new" routerLinkActive="active" [skipLocationChange]="true">
            <ion-icon name="person-add-outline"></ion-icon>
            <div>新朋友</div>
            <ion-badge [ngClass]="{'visibility-hidden': globalDataService.receiveFriendRequests.length <= 0}"
                class="bg-danger">
                {{ globalDataService.receiveFriendRequests.length | numLimit }}
            </ion-badge>
        </button>
        <button routerLink="/home/contact/buddy" routerLinkActive="active" [skipLocationChange]="true">
            <ion-icon name="person-outline"></ion-icon>
            <div>好友</div>
        </button>
        <button routerLink="/home/contact/chatroom" routerLinkActive="active" [skipLocationChange]="true">
            <ion-icon name="people-outline"></ion-icon>
            <div>聊天室</div>
        </button>
        <span class="slider"></span>
    </aside>

    <div [@horizontalSlideInAnimation]="prepareRoute(outlet)" style="margin-top: 5.25rem;z-index: 0;">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</ion-content>