<ion-content>
    <ion-searchbar animated placeholder="搜索"></ion-searchbar>
    <aside>
        <button [routerLink]="['/home/contact/add']" routerLinkActive="active">
            <ion-icon name="person-add-outline"></ion-icon>
            <div>新朋友</div>
        </button>
        <button [routerLink]="['/home/contact/buddy']" routerLinkActive="active">
            <ion-icon name="person-outline"></ion-icon>
            <div>好友</div>
        </button>
        <button [routerLink]="['/home/contact/chatroom']" routerLinkActive="active">
            <ion-icon name="people-outline"></ion-icon>
            <div>聊天室</div>
        </button>
        <span class="slider"></span>
    </aside>

    <router-outlet></router-outlet>
</ion-content>