<ul class="msg-list">
  <li class="tips-item" *ngIf="end">
    <span>没有更多消息</span>
  </li>

  <ng-container *ngFor="let item of data; let index = index; trackBy: trackByFn">
    <li class="tips-item" *ngIf="index === 0 || canShowTime(item.createTime, data[index - 1].createTime)">
      <span>{{ item.createTime | detailDate }} {{ item.createTime | date: 'BBBBhh:mm' }}</span>
    </li>

    <ng-container [ngSwitch]="item.type">
      <li *ngSwitchCase="msgType.Tips" class="tips-item">
        <app-tips-message [tips]="item.data"></app-tips-message>
      </li>

      <li *ngSwitchCase="msgType.Text" class="msg-item" [ngClass]="msgItemClass(item.userId)">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId !== globalData.user?.id && chatroomType === chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)" [innerHTML]="item.data['content'] | hyperlink">
          </span>

          <ion-spinner *ngIf="globalData.user?.id === item.userId && item.loading" class="send-spinner" name="dots"
                       [duration]="1000"></ion-spinner>
        </div>
      </li>

      <li *ngSwitchCase="msgType.RichText" class="msg-item" [ngClass]="msgItemClass(item.userId)">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div class="ql-container ql-snow">
          <div class="username" *ngIf="item.userId !== globalData.user.id && chatroomType === chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble ql-editor" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
                [innerHTML]="item.data['html'] | hyperlink"></span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.ChatInvitation" class="msg-item" [ngClass]="msgItemClass(item.userId)">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId !== globalData.user.id && chatroomType === chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble msg-bubble-card" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
                [routerLink]="['/chatroom', item.data['chatroomId']]">
            <app-card-message label="邀请加入聊天室" [title]="item.data['name']"
                              [description]="'简介：' + (item.data['description'] ? item.data['description'] : '暂无聊天室简介')"
                              [avatar]="item.data['avatarThumbnail']" [background]="item.data['avatarThumbnail']">
            </app-card-message>
          </span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.Image" class="msg-item" [ngClass]="msgItemClass(item.userId)">
        <img class="avatar cursor-pointer" [src]="item.avatarThumbnail" [routerLink]="['/user', item.userId]">

        <div>
          <div class="username" *ngIf="item.userId !== globalData.user.id && chatroomType == chatroomTypes.Group">
            {{ item.nickname }}
          </div>

          <span #bubble appRipple class="msg-bubble msg-bubble-img" (tap)="previewImage(item.id)"
                (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)">
            <app-image-message [msg]="item"></app-image-message>
          </span>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ul>