<ul class="msg-list mg-0 pd-0">
  <li *ngIf="ended" class="tips-item text-center">
    <span>没有更多消息</span>
  </li>

  <ng-container *ngFor="let item of data; let index = index; trackBy: trackByFn">
    <li class="tips-item text-center" *ngIf="index === 0 || canShowTime(item.createTime, data[index - 1].createTime)">
      <span>{{ item.createTime | detailDate }} {{ item.createTime | date: 'BBBBhh:mm' }}</span>
    </li>

    <ng-container [ngSwitch]="item.type">
      <li *ngSwitchCase="msgType.Tips" class="tips-item text-center">
        <app-tips-message [msg]="item"></app-tips-message>
      </li>

      <li *ngSwitchCase="msgType.Text" class="msg-item dp-flex" [ngClass]="msgItemClass(item.userId)">
        <ng-container *ngTemplateOutlet="avatar; context: item"></ng-container>
        <div>
          <ng-container *ngTemplateOutlet="nickname; context: item"></ng-container>

          <span #bubble appRipple class="msg-bubble" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)">
            <!-- 回复消息 -->
            <blockquote *ngIf="item.replyId">
              <ng-container *ngIf="item.reply">{{ item.reply.userId === globalData.user?.id ? '我' : item.reply.nickname }}: {{
                item.reply | messageDesc }}</ng-container>
              <ng-container *ngIf="!item.reply">找不到被回复的消息</ng-container>
            </blockquote>

            <span [innerHTML]="item.data['content'] | hyperlink"></span>
          </span>

          <ng-container *ngTemplateOutlet="loading; context: item"></ng-container>
        </div>
      </li>

      <li *ngSwitchCase="msgType.RichText" class="msg-item dp-flex" [ngClass]="msgItemClass(item.userId)">
        <ng-container *ngTemplateOutlet="avatar; context: item"></ng-container>
        <div class="ql-container ql-snow">
          <ng-container *ngTemplateOutlet="nickname; context: item"></ng-container>

          <span #bubble appRipple class="msg-bubble ql-editor" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
                [innerHTML]="item.data['html'] | hyperlink"></span>

          <ng-container *ngTemplateOutlet="loading; context: item"></ng-container>
        </div>
      </li>

      <li *ngSwitchCase="msgType.ChatInvitation" class="msg-item dp-flex" [ngClass]="msgItemClass(item.userId)">
        <ng-container *ngTemplateOutlet="avatar; context: item"></ng-container>
        <div>
          <ng-container *ngTemplateOutlet="nickname; context: item"></ng-container>

          <span #bubble appRipple class="msg-bubble msg-bubble-card pd-0"
                (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)"
                [routerLink]="['/chatroom', item.data['chatroomId']]">
            <app-card-message label="邀请加入聊天室" [title]="item.data['name']"
                              [description]="'简介：' + (item.data['description'] ? item.data['description'] : '暂无聊天室简介')"
                              [avatar]="item.data['avatarThumbnail']" [background]="item.data['avatarThumbnail']">
            </app-card-message>
          </span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.Image" class="msg-item dp-flex" [ngClass]="msgItemClass(item.userId)">
        <ng-container *ngTemplateOutlet="avatar; context: item"></ng-container>
        <div>
          <ng-container *ngTemplateOutlet="nickname; context: item"></ng-container>

          <span #bubble appRipple class="msg-bubble msg-bubble-img line-hg-0 pd-0" (tap)="previewImage(item)"
                (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)">
            <app-image-message [msg]="item"></app-image-message>
          </span>
        </div>
      </li>

      <li *ngSwitchCase="msgType.Voice" class="msg-item dp-flex" [ngClass]="msgItemClass(item.userId)">
        <ng-container *ngTemplateOutlet="avatar; context: item"></ng-container>
        <div>
          <ng-container *ngTemplateOutlet="nickname; context: item"></ng-container>

          <span #bubble appRipple class="msg-bubble msg-bubble-voice" (press)="presentBubbleToolbarPopover(item, bubble, $event)"
                (contextmenu)="presentBubbleToolbarPopover(item, bubble, $event)" (tap)="playVoice(voiceMsg)">
            <app-voice-message #voiceMsg [msg]="item"></app-voice-message>
          </span>

          <ng-container *ngTemplateOutlet="loading; context: item"></ng-container>
        </div>
      </li>
    </ng-container>
  </ng-container>
</ul>

<!-- 头像部分 -->
<ng-template #avatar let-userId="userId" let-avatarThumbnail="avatarThumbnail">
  <img class="avatar pointer" [src]="avatarThumbnail" [routerLink]="['/user', userId]">
</ng-template>

<!-- 昵称部分 -->
<ng-template #nickname let-userId="userId" let-nickname="nickname" let-role="role">
  <div class="nickname dp-flex align-center" *ngIf="userId !== globalData.user?.id && chatroomType === chatroomTypes.Group">
    <ion-badge *ngIf="role === chatMemberRole.Host" mode="ios" class="host-badge">{{ role | memberRole }}</ion-badge>
    <ion-badge *ngIf="role === chatMemberRole.Manage" mode="ios" class="manage-badge">{{ role | memberRole }}</ion-badge>
    {{ nickname }}
  </div>
</ng-template>

<!-- 加载中部分 -->
<ng-template #loading let-userId="userId" let-loading="loading">
  <ion-spinner *ngIf="globalData.user?.id === userId && loading" class="send-spinner dp-block" name="dots" [duration]="1000">
  </ion-spinner>
</ng-template>