/* 覆盖Ionic的样式 */

ion-segment {
    --background: var(--oc-color-secondary);
    height: 2.75rem;
    border-radius: 1.5rem;
}

ion-segment-button {
    --color: var(--oc-color-dark);
    --color-checked: var(--oc-color-dark);
    --color-focused: var(--oc-color-black);
    --color-hover: var(--oc-color-muted);
    --border-radius: 1.5rem;
    --border-width: 0;
    --indicator-color: var(--oc-color-white);
    margin: 0.25rem 0.125rem;
    font-size: 1rem;
}

ion-picker {
    .sc-ion-picker-ios {
        --background: var(--oc-color-light);
        --height: 275px;

        &.picker-wrapper {
            border-radius: 1.5rem 1.5rem 0 0;
        }

        &.picker-toolbar {
            height: 2.75rem;
        }

        &.picker-toolbar,
        &.picker-above-highlight,
        &.picker-below-highlight {
            border: 0;
        }

        &.picker-above-highlight {
            background: linear-gradient(to bottom, var(--background) 20%, rgba(var(--oc-color-light-rgb), 0.8) 100%);
        }

        &.picker-below-highlight {
            background: linear-gradient(to top, var(--background) 20%, rgba(var(--oc-color-light-rgb), 0.8) 100%);
        }

        &.picker-button {
            font-size: 0.95rem !important;
            padding: 0 1em;
        }

        &.picker-toolbar-cancel > .picker-button {
            color: var(--oc-color-dark);
        }

        &:not(.picker-toolbar-cancel) > .picker-button {
            color: var(--oc-color-primary);

            &.ion-activated {
                color: var(--oc-color-primary);
            }
        }
    }

    .picker-prefix,
    .picker-suffix,
    .picker-opts,
    .picker-opt {
        font-size: 1rem;
    }
    .picker-opt {
        transition: font-size ease-in-out 0.125s;
    }

    .picker-opt-selected {
        font-size: 1.125rem;
    }

    .picker-col {
        padding: 0 0.5rem;
    }
}

ion-input {
    .sc-ion-input-ios {
        &.native-input {
            height: 100%;
            padding: 0;

            &::placeholder {
                color: var(--oc-color-muted);
                opacity: 0.75;
            }
        }

        &.input-clear-icon {
            position: absolute;
            right: 0.75rem;
            opacity: 0.75;
            width: 1.25rem;
            height: 1.25rem;
            background-size: auto;
        }
    }
}

ion-textarea {
    padding: 0;
    .sc-ion-textarea-ios {
        &.native-textarea {
            &::placeholder {
                color: var(--oc-color-muted);
                opacity: 0.75;
            }
        }
    }
}

// 下拉刷新
ion-refresher {
    height: 4rem;

    .refresher-refreshing-icon > * {
        color: var(--oc-color-primary) !important;
        transform: scale(1.25);
    }

    .refresher-pulling-icon > * {
        font-size: 2rem;
        color: var(--oc-color-dark) !important;
    }

    .refresher-refreshing-text {
        margin-top: -0.5rem;
    }

    .refresher-refreshing-text,
    .refresher-pulling-text {
        font-size: 0.75rem;
        color: var(--oc-color-medium) !important;
    }
}

// Popover
ion-popover {
    --max-width: 75vw;

    .popover-content {
        border-radius: 1rem !important;
    }
}

// 无限滚动
ion-infinite-scroll {
    ion-infinite-scroll-content {
        min-height: 5rem;
        background: var(--oc-color-white);
    }

    .infinite-loading {
        margin: 0;
    }

    .infinite-loading-spinner > * {
        color: var(--oc-color-primary) !important;
        transform: scale(1.25);
    }
}

ion-content {
    --color: var(--oc-color-dark);
    --background: var(--oc-color-white);

    &::part(scroll) {
        scrollbar-width: thin;
        scrollbar-color: rgba(var(--oc-color-dark-rgb), 0.125) transparent;

        will-change: scroll-position;
    }
}

// 进度条
ion-progress-bar {
    --background: rgba(var(--oc-color-primary-rgb), 0.125);
    --progress-background: rgba(var(--oc-color-primary-rgb), 0.625);
}

// loading
.ion-loading {
    --background: rgba(var(--oc-color-light-rgb), 0.9);

    .loading-wrapper {
        height: 9rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 0.5rem 0.05rem rgba(#000, 0.125);
        backdrop-filter: blur(5px);
    }

    ion-spinner {
        --spinner-color: var(--oc-color-dark);
        width: 4rem;
        height: 4rem;
    }

    .loading-content {
        color: var(--oc-color-dark);
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: normal;
        margin-inline-start: 0 !important;
    }
}

// action sheet
.ion-action-sheet {
    --color: var(--oc-color-dark);
    --background: rgba(var(--oc-color-light-rgb), 0.85);
    --button-color: var(--oc-color-dark);
    --button-color-hover: var(--oc-color-dark);
    --button-color-activated: var(--oc-color-dark);
    --button-color-focused: var(--oc-color-dark);
    --button-color-selected: var(--oc-color-dark);
    --button-background: transparent;
    --button-background-hover: var(--oc-color-medium);
    --button-background-activated: var(--oc-color-medium);
    --button-background-focused: var(--oc-color-medium);
    --button-background-selected: var(--oc-color-medium);

    .action-sheet-group {
        border-radius: 1.5rem;
        backdrop-filter: saturate(250%) blur(15px);
    }

    button.action-sheet-button {
        height: 3rem;
        font-size: 1rem;
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &::after {
            transition: background-color ease-in-out 0.125s;
        }
    }

    button.action-sheet-cancel {
        font-weight: normal;

        &::after {
            opacity: 0;
        }
    }

    .action-sheet-icon {
        font-size: 1.125rem !important;
    }
}

// 警告框
ion-alert {
    backdrop-filter: blur(2.5px);

    .sc-ion-alert-ios {
        &.alert-wrapper {
            min-width: 16rem;
            max-width: 85vw;
            background: rgba(var(--oc-color-light-rgb), 0.9);
            border-radius: 1rem;
            box-shadow: 0 0 0.5rem 0.05rem rgba(#000, 0.125);
        }

        &.alert-head {
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;
        }

        &.alert-title {
            color: var(--oc-color-dark);
            font-weight: bold;
            font-size: 1rem;
            margin-top: 0.5rem;
        }

        &.alert-message {
            color: var(--oc-color-dark);
            font-size: 0.85rem;
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
            padding-bottom: 1.325rem;

            &:empty {
                display: none;
            }
        }

        &.alert-input-group {
            color: var(--oc-color-dark);
            font-size: 0.85rem;
            padding-inline-start: 1rem;
            padding-inline-end: 1rem;
            padding-bottom: 1rem;

            .alert-input {
                margin-top: 0.5rem;
                border-radius: 0.75rem;
                width: 16rem;
            }

            input {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }

            textarea {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }

            input,
            textarea {
                padding-inline-start: 0.5rem;
                padding-inline-end: 0.5rem;
                background: var(--oc-color-white);
                border: 0;
            }
        }

        &.alert-button {
            height: 2.5rem;
            border-width: 0.25px;
            color: var(--oc-color-dark);

            &:last-child {
                font-weight: normal;
                color: var(--oc-color-primary);
            }

            &.ion-activated {
                background-color: var(--oc-color-gray);
            }
        }
    }

    .alert-button-inner {
        font-size: 1rem;
    }
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0;
    --background: transparent;
}

ion-grid,
ion-col {
    padding: 0;
}

// 返回按钮图标
ion-back-button {
    --padding-start: 0.25rem;
    --color: var(--oc-color-medium);
    font-size: 1.05rem;
}

ion-list.list-ios {
    margin: 0;
}

// 滑动列表里面的按钮
ion-item-options {
    border: 0;
    background: var(--oc-color-white);

    &.item-options-start > ion-item-option:last-child {
        border-radius: 0 0.75rem 0.75rem 0;
    }

    &.item-options-end > ion-item-option:first-child {
        border-radius: 0.75rem 0 0 0.75rem;
    }

    > ion-item-option {
        color: var(--oc-color-white);
        min-width: 4.5rem;
        overflow: hidden;
    }
}

// 标徽
ion-badge {
    padding: 0.1rem 0.25rem;
    font-weight: 500;
    font-size: 0.65rem;
}

ion-item {
    --background: var(--oc-color-white);

    .item-content {
        margin: 0.75rem 0;
    }
}

// Toast
ion-toast {
    &::part(container) {
        padding: 0 0.25rem;
    }

    &::part(message) {
        font-size: 0.85rem;
    }

    --start: 10px;
    --end: 10px;
    --height: 3rem;
    --border-radius: 1.5rem;
    --color: var(--oc-color-light);
    --background: var(--oc-color-black);

    @media (prefers-color-scheme: dark) {
        --background: var(--oc-color-dark);
    }
}

ion-modal .sc-ion-modal-ios {
    @media only screen and (min-height: 600px) and (min-width: 768px) {
        --border-radius: 1.5rem;
    }
}
