/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.font-family-primary {
  font-family: "Alibaba-Sans-Black" !important;
}
.color-primary {
  color: var(--custom-color-primary) !important;
}
.color-dark {
  color: var(--custom-color-dark) !important;
}
.color-danger {
  color: var(--custom-color-danger) !important;
}
.bg-primary {
  background-color: var(--custom-color-primary) !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-danger {
  background-color: var(--custom-color-danger) !important;
}
.d-block {
  display: block !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.outline-none {
  outline: none !important;
}

@font-face {
  font-family: "Alibaba-Sans-Black";
  src: url("./assets/font/Alibaba-Sans-Black/font.gif");
  src: url("./assets/font/Alibaba-Sans-Black/font.gif") format("embedded-opentype"),
    url("./assets/font/Alibaba-Sans-Black/font.bmp") format("woff"),
    url("./assets/font/Alibaba-Sans-Black/font.jpg") format("truetype"),
    url("./assets/font/Alibaba-Sans-Black/font.png") format("svg");
}

@font-face {
  font-family: "constellation";
  src: url("./assets/font/constellation/constellation.eot");
  src: url("./assets/font/constellation/constellation.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/constellation/constellation.woff") format("woff"),
    url("./assets/font/constellation/constellation.ttf") format("truetype"),
    url("./assets/font/constellation/constellation.svg") format("svg");
}

i[class*="icon-constellation-"] {
  font-family: "constellation";
  font-size: initial;
  font-style: normal;
}
// 白羊座
.icon-constellation-aries:before {
  content: "\f0015";
}
// 金牛座
.icon-constellation-taurus:before {
  content: "\f0014";
}
// 双子座
.icon-constellation-gemini:before {
  content: "\f0013";
}
// 天枰座
.icon-constellation-libra:before {
  content: "\f0012";
}
// 射手座
.icon-constellation-sagittarius:before {
  content: "\f0011";
}
// 天蝎座
.icon-constellation-scorpio:before {
  content: "\f0010";
}
// 巨蟹座
.icon-constellation-cancer:before {
  content: "\f000f";
}
// 狮子座
.icon-constellation-leo:before {
  content: "\f000e";
}
// 摩羯座
.icon-constellation-capricorn:before {
  content: "\f000c";
}
// 处女座
.icon-constellation-virgo:before {
  content: "\f000d";
}
// 双鱼座
.icon-constellation-pisces:before {
  content: "\f000b";
}
// 水瓶座
.icon-constellation-aquarius:before {
  content: "\f000a";
}

* {
  outline: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.flex-col-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-grid,
ion-col {
  padding: 0;
}
// 返回按钮图标
ion-back-button {
  --padding-start: 0.25rem;
  --color: #616161;
}

ion-list.list-ios {
  margin: 0;
}

ion-item-options {
  border: none;

  ion-item-option {
    color: #fff;
    min-width: 4rem;
  }
}

.ipt-primary {
  color: var(--custom-color-dark);
}
.ipt-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-primary-rgb), 0.5);
}

button {
  cursor: pointer;
}
.btn-primary {
  color: var(--custom-color-dark);
  background-color: var(--custom-color-primary);
}
.btn-primary:hover {
  background-color: rgba(var(--custom-color-primary-rgb), 0.75);
}
.btn-primary.active {
  box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-primary-rgb), 0.5);
}
.btn-primary.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-primary.disabled > * {
  pointer-events: none;
}

.btn-secondary {
  color: #616161;
  background-color: #f5f5f5;
}
.btn-secondary:hover {
  background-color: #fafafa;
}
.btn-secondary.active {
  box-shadow: 0 0 0 0.2rem rgba(#f5f5f5, 0.75);
}

.ipt-primary,
.btn-primary,
.btn-secondary {
  box-shadow: none;
  transition: all 0.15s ease-in-out, box-shadow 0.175s ease-in-out;
}

// 向左滑出
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
// 向右滑出
@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
// 向上滑出
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
// 向下滑出
@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* 回弹动画 */
@keyframes active {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.1);
  }
}
/* 淡入动画 */
@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* 涟漪动画 */
@keyframes ripple {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
