/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "~@angular/cdk/overlay-prebuilt.css";

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

@import "~swiper/swiper";
@import "~swiper/components/zoom/zoom";

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-col-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

// LOGO文字标徽定义
.onchat-brand {
  font-family: "Alibaba-Sans-Black";
  letter-spacing: -0.05em;

  &::before {
    content: "On";
    color: #6c757d;
  }

  &::after {
    content: "Chat";
    color: var(--oc-color-primary);
  }
}

.form-group {
  > label {
    margin: 0 0.5rem 0.5rem;
  }

  .ipt-primary {
    width: 100%;
    padding: 0 2.5rem;
  }

  .form-control {
    position: relative;

    > .btn-primary {
      position: absolute;
      height: 2.5rem;
      width: 30%;
      top: 0.375rem;
      right: 0.375rem;
      font-size: 0.9rem;
      border-radius: 2.5rem;
    }
  }
}

// 主要输入框
.ipt-primary {
  color: var(--oc-color-dark);
  border: none;
  background: var(--oc-color-secondary);

  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-primary-rgb), 0.5);
  }

  &::placeholder {
    color: var(--oc-color-muted);
    opacity: 0.5;
  }

  &.ng-invalid:not(.ng-pristine),
  &.invalid {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-danger-rgb), 0.5);
  }
}

// 主要输入框的警告模式
.ipt-primary ~ .form-control-warning,
form .feedback-form-invalid {
  color: var(--oc-color-danger);
  opacity: 1;
  transition: all 0.125s ease-in-out;
}

// 主要输入框的正常模式
.ipt-primary.ng-valid ~ .form-control-warning,
.ipt-primary.ng-pristine ~ .form-control-warning,
.ipt-primary.ng-pending ~ .form-control-warning,
form.ng-valid .feedback-form-invalid,
form.ng-pristine .feedback-form-invalid {
  height: 0;
  opacity: 0;
}

// 主要按钮
.btn-primary {
  color: #424242;
  background-color: var(--oc-color-primary);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-primary-rgb), 0.5);
  }

  &[disabled] {
    color: rgba(#424242, 0.75);
    background-color: rgba(var(--oc-color-primary-rgb), 0.5);
    pointer-events: none;
  }
}

// 白色按钮
.btn-light {
  color: var(--oc-color-dark);
  background-color: var(--oc-color-white);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-white-rgb), 0.5);
  }
}

// 二级按钮
.btn-secondary {
  color: var(--oc-color-dark);
  background-color: var(--oc-color-secondary);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-secondary-rgb), 0.75);
  }
}

.btn-danger {
  color: var(--oc-color-danger);
  background-color: var(--oc-color-white);

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-danger-rgb), 0.75);
  }
}

.btn-primary,
.btn-light,
.btn-secondary,
.btn-danger {
  padding: 0;
  margin: 0;

  &.btn-block {
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 1.25rem;
  }
}

.ipt-primary,
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-light {
  box-shadow: none;
  transition: all 0.15s ease-in-out, box-shadow 0.25s ease-in;
}
