/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

.font-family-primary {
  font-family: "Alibaba-Sans-Black" !important;
}
.color-primary {
  color: var(--custom-color-primary) !important;
}
.color-secondary {
  color: var(--custom-color-secondary) !important;
}
.color-dark {
  color: var(--custom-color-dark) !important;
}
.color-danger {
  color: var(--custom-color-danger) !important;
}
.color-light {
  color: var(--custom-color-light) !important;
}
.color-gray {
  color: var(--custom-color-gray) !important;
}
.color-medium {
  color: var(--custom-color-medium) !important;
}
.bg-primary {
  background-color: var(--custom-color-primary) !important;
}
.bg-secondary {
  background-color: var(--custom-color-secondary) !important;
}
.bg-white {
  background-color: var(--custom-color-white) !important;
}
.bg-danger {
  background-color: var(--custom-color-danger) !important;
}
.bg-light {
  background-color: var(--custom-color-light) !important;
}
.bg-gray {
  background-color: var(--custom-color-gray) !important;
}
.bg-medium {
  background-color: var(--custom-color-medium) !important;
}
.d-block {
  display: block !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.font-weight-normal {
  font-weight: normal !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.outline-none {
  outline: none !important;
}
.visibility-hidden {
  visibility: hidden;
}

// 标徽字体
@font-face {
  font-display: fallback;
  font-family: "Alibaba-Sans-Black";
  src: url("/assets/font/Alibaba-Sans-Black/font.gif");
  src: url("/assets/font/Alibaba-Sans-Black/font.gif") format("embedded-opentype"),
    url("/assets/font/Alibaba-Sans-Black/font.bmp") format("woff"),
    url("/assets/font/Alibaba-Sans-Black/font.jpg") format("truetype"),
    url("/assets/font/Alibaba-Sans-Black/font.png") format("svg");
}

* {
  outline: none;
}

body {
  background: var(--custom-color-white);
}

.flex-col-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

// 使用涟漪效果的父类
.ripple-parent {
  position: relative !important;
  overflow: hidden !important;
}

// 下拉刷新
ion-refresher {
  height: 4rem;

  .refresher-refreshing-icon > * {
    color: var(--custom-color-primary) !important;
    transform: scale(1.25);
  }

  .refresher-pulling-icon > * {
    color: var(--custom-color-dark) !important;
  }

  .refresher-refreshing-text {
    margin-top: -0.5rem;
  }

  .refresher-refreshing-text,
  .refresher-pulling-text {
    font-size: 0.75rem;
    color: var(--custom-color-medium) !important;
  }
}

// Popover
ion-popover {
  --max-width: 75vw;
}
.popover-content {
  border-radius: 1rem !important;
}

// 无限滚动
ion-infinite-scroll {
  ion-infinite-scroll-content {
    min-height: 5rem;
    margin: 0 0 -1.75rem;
  }

  .infinite-loading {
    margin: 0;
  }

  .infinite-loading-spinner > * {
    color: var(--custom-color-primary) !important;
    transform: scale(1.25);
  }
}

ion-content {
  --color: var(--custom-color-dark);
  --background: var(--custom-color-white);
}

// 进度条
ion-progress-bar {
  --background: rgba(var(--custom-color-primary-rgb), 0.125);
  --progress-background: rgba(var(--custom-color-primary-rgb), 0.625);

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.85);
  }
}

// 警告框
ion-alert {
  backdrop-filter: saturate(200%) blur(2.5px);

  @media (prefers-color-scheme: dark) {
    backdrop-filter: saturate(100%) blur(2.5px);
  }

  .alert-wrapper.sc-ion-alert-ios {
    min-width: 16rem;
    max-width: 17rem;
    background: var(--custom-color-white);
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem 0.05rem rgba(#000000, 0.125);
  }

  .alert-head.sc-ion-alert-ios {
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  .alert-title.sc-ion-alert-ios {
    color: var(--custom-color-dark);
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .alert-message.sc-ion-alert-ios {
    color: var(--custom-color-dark);
    font-size: 0.85rem;
    -webkit-padding-start: 1rem;
    padding-inline-start: 1rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    padding-bottom: 1.325rem;
  }

  .alert-button.sc-ion-alert-ios {
    height: 2.5rem;
    border-width: 0.25px;
    color: var(--custom-color-dark);
  }

  .alert-button.sc-ion-alert-ios:last-child {
    font-weight: normal;
    color: var(--custom-color-primary);
  }

  .alert-button-inner {
    font-size: 1rem;
  }
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0;
  --background: transparent;
}

ion-grid,
ion-col {
  padding: 0;
}

// 返回按钮图标
ion-back-button {
  --padding-start: 0.25rem;
  --color: var(--custom-color-medium);
  font-size: 1.05rem;
}

ion-list.list-ios {
  margin: 0;
}

// 滑动列表里面的按钮
ion-item-options {
  border: none;
  background: var(--custom-color-white);

  ion-item-option {
    color: var(--custom-color-white);
    min-width: 4rem;
    padding: 0 0.25rem;

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.75);
    }
  }
}

// 标徽
ion-badge {
  padding: 0.1rem 0.25rem;
  font-weight: 500;
  font-size: 0.65rem;
}

ion-item {
  --background: var(--custom-color-white);

  ion-thumbnail {
    --border-radius: 50%;
    background: var(--custom-color-secondary);

    @media (prefers-color-scheme: dark) {
      filter: brightness(0.75);
    }
  }
}

// 自定义的Toast样式
ion-toast {
  --start: 10px;
  --end: 10px;
  --border-radius: 1.5rem;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.75);
  }
}

// LOGO文字标徽定义
.brand {
  font-family: "Alibaba-Sans-Black";
  letter-spacing: -0.05em;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.85);
  }

  &::before {
    content: "On";
    color: #6c757d;
  }

  &::after {
    content: "Chat";
    color: var(--custom-color-primary);
  }
}

// 主要输入框
.ipt-primary {
  color: var(--custom-color-dark);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-primary-rgb), 0.5);
  }

  &.ng-invalid:not(.ng-pristine),
  &.invalid {
    box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-danger-rgb), 0.5);
  }
}

// 主要输入框的警告模式
.ipt-primary ~ .feedback-control-invalid,
form .feedback-form-invalid {
  color: var(--custom-color-danger);
  opacity: 1;
  transition: all 0.125s ease-in-out;
}

// 主要输入框的正常模式
.ipt-primary.ng-valid ~ .feedback-control-invalid,
.ipt-primary.ng-pristine ~ .feedback-control-invalid,
form.ng-valid .feedback-form-invalid,
form.ng-pristine .feedback-form-invalid {
  height: 0;
  opacity: 0;
}

// 主要按钮
.btn-primary {
  color: #424242;
  background-color: var(--custom-color-primary);

  &:hover {
    background-color: rgba(var(--custom-color-primary-rgb), 0.75);
  }

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-primary-rgb), 0.5);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.75);
  }
}

// 二级按钮
.btn-secondary {
  color: #616161;
  background-color: var(--custom-color-secondary);

  &:hover {
    background-color: var(--custom-color-light);
  }
  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--custom-color-secondary-rgb), 0.75);
  }
}

.btn-primary,
.btn-secondary {
  padding: 0;
  margin: 0;
}

.ipt-primary,
.btn-primary,
.btn-secondary {
  box-shadow: none;
  transition: all 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
}

// 向左滑出
@keyframes slide-left {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
// 向右滑出
@keyframes slide-right {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
// 向上滑出
@keyframes slide-up {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
// 向下滑出
@keyframes slide-down {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
// 回弹动画
@keyframes active {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(0.75, 0.75, 1);
  }
  75% {
    transform: scale3d(1.25, 1.25, 1);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
// 淡入动画
@keyframes fade-in {
  from {
    transform: scale3d(1.075, 1.075, 1);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
// 涟漪动画
@keyframes ripple {
  from {
    transform: scale3d(0, 0, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}
