<ion-content [fullscreen]="true">
  <div class="dp-flex flex-col min-hg-full overflow-hidden">
    <ion-grid class="dp-flex align-center">
      <ion-row>
        <ion-col size="12">
          <div class="logo text-center">
            <h1 class="onchat-brand"></h1>
            <h5 class="font-bold">世 界 都 在 聊</h5>
          </div>

          <form [formGroup]="form">
            <div class="form-group">
              <input type="text" class="dp-block text-center ipt-primary" formControlName="username" (blur)="trimAll('username')"
                     placeholder="用户名" [maxlength]="usernameMaxLength" required>

              <div class="form-control-warning">
                <ion-icon name="warning"></ion-icon>
                {{ usernameFeedback(form.controls.username.errors) }}
              </div>
            </div>

            <div class="form-group">
              <input type="email" class="dp-block text-center ipt-primary" formControlName="email" (blur)="trimAll('email')"
                     placeholder="电子邮箱" [maxlength]="emailMaxLength" required>

              <div class="form-control-warning">
                <ion-icon name="warning"></ion-icon>
                {{ emailFeedback(form.controls.email.errors) }}
              </div>
            </div>

            <div class="form-group">
              <div class="form-control">
                <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" autocomplete="new-password"
                       formControlName="password" (blur)="trimAll('password')" placeholder="密码" [maxlength]="passwordMaxLength"
                       required>
                <ion-icon [name]="pwdInputType === 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()">
                </ion-icon>

                <div class="form-control-warning">
                  <ion-icon name="warning"></ion-icon>
                  {{ passwordFeedback(form.controls.password.errors) }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-control">
                <input [type]="pwdInputType" class="dp-block text-center ipt-primary ipt-password" autocomplete="new-password"
                       formControlName="confirmPassword" (blur)="trimAll('confirmPassword')" placeholder="确认密码"
                       [maxlength]="passwordMaxLength" required>
                <ion-icon [name]="pwdInputType === 'password' ? 'eye' : 'eye-off'" (tap)="togglePwdInputType()">
                </ion-icon>

                <div class="form-control-warning">
                  <ion-icon name="warning"></ion-icon>
                  {{ passwordFeedback(form.controls.confirmPassword.errors) }}
                </div>

                <div class="feedback-form-invalid dp-flex align-end" [hidden]="!form.errors?.equal">
                  <ion-icon name="warning"></ion-icon>
                  确认密码与密码不一致！
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-control">
                <input type="text" class="dp-block text-center ipt-primary" formControlName="captcha" (blur)="trimAll('captcha')"
                       placeholder="验证码" maxlength="6" required style="padding-right: 40%">

                <button appRipple appActiveClass [disabled]="form.controls.email.errors || countdownTimer" class="btn-primary"
                        (tap)="sendCaptcha()">
                  {{countdownTimer ? countdown + '秒后再试' : '邮箱验证'}}
                </button>

                <div class="form-control-warning">
                  <ion-icon name="warning"></ion-icon>
                  {{ captchaFeedback(form.controls.captcha.errors) }}
                </div>
              </div>
            </div>
          </form>
        </ion-col>

        <ion-col class="text-center btn-container" size="12">
          <button appRipple appActiveClass [disabled]="!form.valid || globalData.navigating" class="btn-primary"
                  (tap)="register()">
            注册
          </button>
        </ion-col>

        <ion-col size="12" class="link-container text-center color-dark cursor-pointer">
          <span routerLink="/user/login">已有账号？立即登录！</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <footer class="font-primary text-center">
      <div>
        Copyright © 2018~2021 HyperGo!
        <span style="padding: 0 .125rem;">|</span>
        All Rights Reserved
      </div>
      <div>Powered By Angular & Ionic</div>
    </footer>
  </div>

</ion-content>