@import "../login/login.page.scss";
.form-group-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > input,
  > img {
    width: calc(50% - 0.5rem);
  }
}

img.captcha {
  height: 3.25rem;
  object-fit: cover;
  border-radius: 1.625rem;
  border: 1.5px solid var(--oc-color-gray);
  transition: box-shadow 0.125s ease-in-out;

  &.active {
    box-shadow: 0 0 0 0.2rem rgba(var(--oc-color-primary-rgb), 0.5);
  }
}
