<ion-content [fullscreen]="true">
  <ion-header class="d-flex align-items-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-title class="color-white">好友申请</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="user.avatarThumbnail">

  <main>
    <img class="avatar" [src]="user.avatarThumbnail" [routerLink]="['/user/card', user.id]">
    <h1>{{ user.username }}</h1>

    <ion-item lines="none">
      <ion-label position="stacked">申请原因</ion-label>
      <p>{{ friendRequest.requestReason || user.username + ' 申请添加你为好友' }}</p>
    </ion-item>

    <div style="flex: auto;"></div>

    <ion-buttons class="bottom-bar">
      <button appActiveClass [appActiveClassDuration]="200" (tap)="reject()"
        class="ion-activatable ripple-parent btn-secondary btn-block">
        拒绝申请
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <button appActiveClass [appActiveClassDuration]="200" (tap)="agree()"
        class="ion-activatable ripple-parent btn-primary btn-block">
        同意申请
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-buttons>
  </main>
</ion-content>