:host {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.45rem 0.45rem calc(var(--ion-safe-area-bottom, 0) + 0.45rem);
  background: var(--color-light);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  animation: slide-in-up 0.25s ease-out 0.25s forwards;

  &:focus-within {
    padding: 0.45rem;
  }

  > .tips-btn {
    position: fixed;
    left: 50%;
    top: -2.5rem;
    transform: translateX(-50%);
    font-size: 0.8rem;
    line-height: 1.25em;
    padding: 0.3rem 0.75rem;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    > ion-icon {
      animation: jitter 0.75s linear infinite;
    }
  }
}

textarea {
  color: var(--color-dark);
  resize: none;
  font-size: 1rem;
  border: 0.075rem solid var(--color-secondary);
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background: var(--color-white);
  max-height: 10em;
  min-height: 100%;
  margin: 0 0.425rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.send-btn,
.fn-btn,
.mic-btn {
  height: 2.45rem;
  width: 2.45rem;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 1rem;
  flex-shrink: 0;
}

.send-btn > label {
  width: 100%;
  height: 100%;
}

.fn-btn > ion-icon {
  position: absolute;
  font-size: 2.75rem;
  --ionicon-stroke-width: 25px;
}

.drawer-container {
  transition: height 0.1s ease-out;
}

@keyframes jitter {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0.195rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
