.home-menu {
    list-style: none;
    padding: 0.15rem 0;
    color: var(--color-dark);
}

.home-menu-item {
    padding: 0.55rem 1rem;
    font-size: 0.95rem;

    > ion-icon {
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }
}

::ng-deep .home-menu-popover {
    --background: var(--color-light);
    --max-width: 8.75rem;
}
