.home-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--oc-color-dark);
}

.home-menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;

    > ion-icon {
        margin-right: 0.5rem;
        font-size: 1.125rem;
    }
}
