@import "../../../../theme/color.scss";

ion-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: transparent;

  ion-toolbar {
    --border-width: 0;
    --background: transparent;

    ion-buttons > * {
      color: rgba(#fff, 0.75);
      border-radius: 50%;
      filter: drop-shadow(0 0 0.5rem #000);
    }
  }
}

.card-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vw;
  transform-origin: bottom;
  object-fit: cover;
  filter: brightness(0.9);
}

.card {
  position: absolute;
  top: calc(70vw - 1.5rem);
  left: 0;
  border-radius: 0 1.5rem 0 0;
  box-shadow: 0 0 1rem rgba(#000, 0.5);
  width: 100%;
  background: #fff;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    width: 100%;
    height: 2rem;
    background: #fff;
  }

  .card-header {
    height: 7rem;
    margin-top: -3rem;
    padding: 0 0.75rem;
    display: flex;

    .avatar {
      width: 6rem;
      height: 6rem;
      margin-top: 1rem;
      border-radius: 50%;
      border: 0.175rem solid rgba(#fff, 0.75);
    }

    .info {
      padding-right: 0.5rem;
      flex: auto;

      & > * {
        width: calc(100vw - 8rem);
      }

      .name {
        padding: 1.25rem 0 0 0.75rem;
        color: #fff;
        height: 3rem;
        line-height: 1.25rem;
        font-size: 1.25rem;
        font-weight: bolder;
        text-shadow: 0 0 1rem #000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .account {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 4rem;
        padding: 0.5rem 0 0.5rem 0.75rem;

        & > * {
          color: $dark;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .card-content {
    color: $dark;
    padding: 0.5rem 1rem 2.5rem;

    & > *:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    .signature {
      position: relative;
      padding: .375rem 0 0 3.25rem;
      border-top: .1rem dotted #e0e0e0;

      > ion-icon {
        position: absolute;
        left: 0;
        font-size: 2.75rem;
        color: #616161;
        transform: rotate(45deg);
      }

      article {
        margin-top: .25rem;
        font-size: .95rem;
      }
    }

    .last-online {
      display: flex;
      align-items: center;
      color: #3880ff;
      height: 2.5rem;
      line-height: 2.5rem;
      padding: 0 0.75rem;
      border-radius: 1.25rem;
      background: rgba(#3880ff , .125);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      ion-icon {
        font-size: 1.25rem;
        margin-right: 0.4rem;
      }
    }

    .details-list {
      padding: 0;
      margin: 0;
      list-style: none;
      background: #fafafa;
      border-radius: 1.25rem;
      border: .1rem solid #f5f5f5;

      .details-item {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1rem;

        > span {
          color: #616161;
          text-align: right;
          font-weight: bold;
          width: 50vw;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.bottom-bar {
  position: fixed;
  left: .75rem;
  bottom: 0;
  padding-bottom: .75rem;
  width: calc(100vw - 1.5rem);
  transform: translateY(100%);
  animation: slide-up 0.25s ease-out .5s forwards;

  button {
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 1.25rem;
    background: rgba($primary, .75);
    backdrop-filter: saturate(180%) blur(5px);

    ion-icon {
      margin-right: .25rem;
      --ionicon-stroke-width: 2.5rem;
    }
  }
}