<ion-content [fullscreen]="true">
  <ion-header class="d-flex align-items-center">
    <ion-toolbar>
      <ion-back-button slot="start" text="&nbsp;" defaultHref="home"></ion-back-button>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" [src]="user.backgroundImage">

  <div class="card">
    <div class="card-header">
      <img class="avatar" [src]="user.avatarThumbnail" [routerLink]="['/user/avatar', user.id]">
      <div class="info">
        <h4>{{ user.username }}</h4>
        <div class="account">
          <div>UserID：{{ user.id }}</div>
          <div>昵称：{{ user.nickname || user.username }}</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <article class="signature ion-activatable ripple-parent">
        {{ user.signature || '这个人很懒，什么都没写~' }}
        <ion-ripple-effect></ion-ripple-effect>
      </article>

      <div class="last-online ion-activatable ripple-parent">
        <ion-icon name="time"></ion-icon>
        最近一次上线时间：{{ user.loginTime | date:'yyyy年M月d日' }}
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <ul class="details-list">
        <li class="details-item">
          <label>心 情</label>
          <span class="d-flex align-items-center justify-content-end">
            <ion-icon style="color: var(--custom-color-primary); font-size: 1.25rem; margin-right: .25rem;"
              src="assets/svg/mood/grin-alt.svg"></ion-icon>
            <small>喜</small>
          </span>
        </li>

        <li class="details-item">
          <label>生 日</label>
          <span>2000-11-19</span>
        </li>

        <li class="details-item">
          <label>性 别</label>
          <span>男</span>
        </li>

        <li class="details-item">
          <label>年 龄</label>
          <span>19岁</span>
        </li>

        <li class="details-item">
          <label>十二星座</label>
          <span>
            <i class="icon-constellation-scorpio" style="color: #616161; font-size: 1.25rem;"></i>
            天蝎座
          </span>
        </li>

        <li class="details-item">
          <label>电子邮箱</label>
          <span>{{ user.email || '未绑定' }}</span>
        </li>
      </ul>
    </div>
  </div>
  <aside class="bottom-bar">
    <button *ngIf="chatroomId" appActiveClass [appActiveClassDuration]="200" [routerLink]="['/chat', chatroomId]"
      class="ion-activatable ripple-parent btn-primary btn-block">
      跟Ta聊天
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <!-- TODO 这边以后可以和自己聊天 -->
    <button *ngIf="!chatroomId && onChatService.user && onChatService.user.id != user.id" appActiveClass
      [appActiveClassDuration]="200" [routerLink]="['/friend/request', user.id]"
      class="ion-activatable ripple-parent btn-primary btn-block">
      加Ta好友
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </aside>
</ion-content>