<ion-content>
  <ion-header class="d-flex align-items-center">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="&nbsp;" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical" style="font-size: 1.5rem;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <img class="bg-img" src="https://blog.hypergo.net/api/bing/image.php">

  <div class="card">
    <div class="card-header">
      <img class="avatar" src="https://q.qlogo.cn/headimg_dl?dst_uin=1838491745&spec=5">
      <div class="info">
        <div class="name">HyperLife1119</div>
        <div class="account">
          <div>UserID：1</div>
          <div>昵称：HyperLife1119</div>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="signature">
        <ion-icon src="assets/svg/reel.svg"></ion-icon>
        <article>A true great man will neither trample on a worm, nor sneak to an emperpor.</article>
      </div>

      <div class="last-online ion-activatable ripple-parent">
        <ion-icon name="time"></ion-icon>
        最近一次上线时间：2020年02月02日
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <ul class="details-list">
        <li class="details-item ion-activatable ripple-parent">
          <label>心 情</label>
          <ion-ripple-effect></ion-ripple-effect>
        </li>

        <li class="details-item ion-activatable ripple-parent">
          <label>生 日</label>
          <span>2000-11-19</span>
          <ion-ripple-effect></ion-ripple-effect>
        </li>

        <li class="details-item ion-activatable ripple-parent">
          <label>性 别</label>
          <span>男</span>
          <ion-ripple-effect></ion-ripple-effect>
        </li>

        <li class="details-item ion-activatable ripple-parent">
          <label>年 龄</label>
          <span>19岁</span>
          <ion-ripple-effect></ion-ripple-effect>
        </li>

        <li class="details-item ion-activatable ripple-parent">
          <label>十二星座</label>
          <span>天蝎座</span>
          <ion-ripple-effect></ion-ripple-effect>
        </li>

        <li class="details-item ion-activatable ripple-parent">
          <label>电子邮箱</label>
          <span>hyperlife1119@qq.com</span>
          <ion-ripple-effect></ion-ripple-effect>
        </li>
      </ul>
    </div>
  </div>

  <aside class="bottom-bar">
    <button class="ion-activatable ripple-parent btn-primary">
      <ion-icon name="person-add-outline"></ion-icon>
      加Ta好友
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </aside>
</ion-content>