<swiper class="swiper" [initialSlide]="1" [pagination]="true">
  <ng-template swiperSlide>
    <div class="swiper-slide">
      <app-chat-recorder (appOutput)="onVoiceOutput($event)"></app-chat-recorder>
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="swiper-slide">
      <div class="grid-container">
        <button appRipple appActiveClass class="btn-white" (tap)="selectImage()">
          <ion-icon name="image"></ion-icon>
        </button>

        <button appRipple appActiveClass class="btn-white" (tap)="editRichText()">
          <ion-icon name="brush"></ion-icon>
        </button>

        <!-- 只有私聊可以视频通话 -->
        <ng-container *ngIf="chatroomType === chatroomTypes.Private">
          <button appRipple appActiveClass class="btn-white">
            <ion-icon name="call"></ion-icon>
          </button>

          <button appRipple appActiveClass class="btn-white" (tap)="rtc()">
            <ion-icon name="videocam"></ion-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </ng-template>
</swiper>