<ion-slides [pager]="true" [options]="slideOpts">
  <ion-slide>
    <app-chat-recorder (output)="onVoiceOutput($event)"></app-chat-recorder>
  </ion-slide>

  <ion-slide>
    <div class="grid-container">
      <button appRipple appActiveClass class="btn-white" (tap)="selectImage()">
        <ion-icon name="image"></ion-icon>
      </button>

      <button appRipple appActiveClass class="btn-white" (tap)="editRichText()">
        <ion-icon name="brush"></ion-icon>
      </button>
    </div>
  </ion-slide>
</ion-slides>